/* 
    Document   : standardWeb
    Created on : Oct 3, 2012, 9:04:21 PM
    Author     : Mikael
    Description:
        Purpose of the stylesheet follows.
        Standard stylesheet for pc/mac web browsers.
*/


/********************************************************************/
/*                       Root, HTML og Body                         */
/* Bakgrunnsfargen for siden samt grunnleggende font instillinger   */

html, body, root {
    background-color: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
    color: #7d7b7a;
    font-size: 0.9em;
    margin: 0px;
    height: 100%;
    width: 100%;
}

html, body, root, #header, #hovedMeny, #hovedMeny ul li, #footer, #wrapper, #push{
    display: block;
}
.clearBoth {
    width: 100%;
    height: 1px;
    clear: both;
}

/********************************************************************/
/*                           Fontstiler                             */

h1{
    font-size: 1.3em;
}

h2{
    font-size: 1.2em;
}

a {
    color: #525252;
    text-decoration: none;
}

a:hover {
    color: #7d7b7a;
}


/********************************************************************/
/*                             Header                               */

#header h1 {
    height: 50px;
    padding: 14px;
    padding-left: 40px;
    margin: 0px;
    color: #fff;
    font-family: sans-serif, Verdana;
    font-weight: normal;
    background: url('../images/logo.png') no-repeat left 20%;
}

#header {
    width: auto;
    height: 50px;
    padding-left: 10px;
    background: url('../images/header.jpg')top left repeat-x;
}


/********************************************************************/
/*                            Hovedmeny                             */

#hovedMeny {
    height: 30px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #c5c5c5;
    font-size: 1.1em;
}

#hovedMeny ul {
    padding: 0px;
    margin: 0px;
}

#hovedMeny ul li {
    padding-left: 20px;
    padding-top: 5px;
    float: left;
}


/********************************************************************/
/*                             Content                              */
#body {
    width: 100%
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
    background-color: #f5f5f5;
}

#footer, .push {
    height: 50px;    
}

.push {
    clear: both; 
}

table {
    empty-cells: show;
}

.flere_tabeller {
    width: auto;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background-color: #fff;
    margin: 0.2%;
    padding: 0.2%;
    max-width: 60%;
}

#prosjekter, #kontakter, #Doerer, #Beslag {
    float: left;
}

#brukere, #doorPanel{ 
    float: right; margin-right: 0.2%;
}

form, table, input, select, textarea {
    width: 100%
}
tr select {
    width: auto;
}


#kontakter, #prosjekter,  #brukere, #Doerer, #doorPanel{
    min-height: 300px; 
}

#kontakter, #Doerer, #Beslag{
    width: 57.1%;
}

#prosjekter{
    width: 25%;
}
#doorPanel{
    width: 41%;
}
#brukere {
    width: 15%;
}

#doorPanel, #Doerer{
    height: auto;
    min-height: auto;
}

#kontakterAlle, #brukereList, #firmaList {
    width: 60%;
    margin-left: 20%;
}

.ui-datatable .iconDoerer div.ui-dt-c a{
    float: left;
}


/********************************************************************/
/*                              Footer                              */
#footer {
    background: url('../images/header.jpg')top left repeat-x;
}