<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBeslagslisterTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_IDBeslagsliste}" for="IDBeslagsliste" />
                    <h:inputText id="IDBeslagsliste" value="#{beslagslisterController.selected.IDBeslagsliste}" title="#{bundle.CreateBeslagslisterTitle_IDBeslagsliste}" required="true" requiredMessage="#{bundle.CreateBeslagslisterRequiredMessage_IDBeslagsliste}"/>
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_beslagnavn}" for="beslagnavn" />
                    <h:inputText id="beslagnavn" value="#{beslagslisterController.selected.beslagnavn}" title="#{bundle.CreateBeslagslisterTitle_beslagnavn}" />
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_overflate}" for="overflate" />
                    <h:inputText id="overflate" value="#{beslagslisterController.selected.overflate}" title="#{bundle.CreateBeslagslisterTitle_overflate}" />
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_montert}" for="montert" />
                    <h:inputText id="montert" value="#{beslagslisterController.selected.montert}" title="#{bundle.CreateBeslagslisterTitle_montert}" />
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_sistendret}" for="sistendret" />
                    <h:inputText id="sistendret" value="#{beslagslisterController.selected.sistendret}" title="#{bundle.CreateBeslagslisterTitle_sistendret}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_montertavfk}" for="montertavfk" />
                    <h:selectOneMenu id="montertavfk" value="#{beslagslisterController.selected.montertavfk}" title="#{bundle.CreateBeslagslisterTitle_montertavfk}" >
                        <f:selectItems value="#{brukereController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_doridfk}" for="doridfk" />
                    <h:selectOneMenu id="doridfk" value="#{beslagslisterController.selected.doridfk}" title="#{bundle.CreateBeslagslisterTitle_doridfk}" required="true" requiredMessage="#{bundle.CreateBeslagslisterRequiredMessage_doridfk}">
                        <f:selectItems value="#{doererController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateBeslagslisterLabel_kategoriidfk}" for="kategoriidfk" />
                    <h:selectOneMenu id="kategoriidfk" value="#{beslagslisterController.selected.kategoriidfk}" title="#{bundle.CreateBeslagslisterTitle_kategoriidfk}" required="true" requiredMessage="#{bundle.CreateBeslagslisterRequiredMessage_kategoriidfk}">
                        <f:selectItems value="#{kategorierController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beslagslisterController.create}" value="#{bundle.CreateBeslagslisterSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{beslagslisterController.prepareList}" value="#{bundle.CreateBeslagslisterShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateBeslagslisterIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
