<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form>
                <header>
                    <h2>
                        <h:outputText value="#{beslagslisterController.selected.beslagnavn}"></h:outputText>
                    </h2>
                </header>
                <p:panelGrid columns="2" id="beslagEditDialog">
                    <h:outputLabel value="#{bundle.BeslagslisterLabel_beslagnavn}" for="beslagnavn" />
                    <h:inputText id="beslagnavn" value="#{beslagslisterController.selected.beslagnavn}" title="#{bundle.BeslagslisterTitle_beslagnavn}" />
                    <h:outputLabel value="#{bundle.BeslagslisterLabel_overflate}" for="overflate" />
                    <h:inputText id="overflate" value="#{beslagslisterController.selected.overflate}" title="#{bundle.BeslagslisterTitle_overflate}" />
                    <h:outputLabel value="#{bundle.BeslagslisterLabel_montert}" for="montert" />
                    <p:selectBooleanCheckbox id="montert" value="#{beslagslisterController.selected.montert}" />


                    <h:outputLabel value="#{bundle.BeslagslisterLabel_montertavfk}" for="montertavfk" />
                    <h:selectOneMenu id="montertavfk" value="#{beslagslisterController.selected.montertavfk}" title="#{bundle.BeslagslisterTitle_montertavfk}" >
                        <f:selectItems value="#{brukereController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>

                    <h:outputLabel value="#{bundle.BeslagslisterLabel_kategoriidfk}" for="kategoriidfk" />
                    <h:selectOneMenu id="kategoriidfk" value="#{beslagslisterController.selected.kategoriidfk}" title="#{bundle.BeslagslisterTitle_kategoriidfk}" required="true" requiredMessage="#{bundle.BeslagslisterRequiredMessage_kategoriidfk}">
                        <f:selectItems value="#{kategorierController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </p:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 update=":body"
                                 id="editButtonBeslag"                                
                                 action="#{prosjekterController.updateDialog}"
                                 oncomplete="editBeslagDlg.hide();"
                                 />
                
            </h:form>
        </h:panelGroup>
    </h:body>
</html>
