<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">



    <h:form>
        <h:panelGrid columns="2">
            <h:outputLabel value="#{bundle.BeslagslisterLabel_IDBeslagsliste}" for="IDBeslagsliste" />
            <h:inputText id="IDBeslagsliste" value="#{beslagslisterController.selected.IDBeslagsliste}" title="#{bundle.BeslagslisterTitle_IDBeslagsliste}" required="true" requiredMessage="#{bundle.BeslagslisterRequiredMessage_IDBeslagsliste}"/>
            <h:outputLabel value="#{bundle.BeslagslisterLabel_beslagnavn}" for="beslagnavn" />
            <h:inputText id="beslagnavn" value="#{beslagslisterController.selected.beslagnavn}" title="#{bundle.BeslagslisterTitle_beslagnavn}" />
            <h:outputLabel value="#{bundle.BeslagslisterLabel_overflate}" for="overflate" />
            <h:inputText id="overflate" value="#{beslagslisterController.selected.overflate}" title="#{bundle.BeslagslisterTitle_overflate}" />
            <h:outputLabel value="#{bundle.BeslagslisterLabel_montert}" for="montert" />
            <h:inputText id="montert" value="#{beslagslisterController.selected.montert}" title="#{bundle.BeslagslisterTitle_montert}" />
            <h:outputLabel value="#{bundle.BeslagslisterLabel_sistendret}" for="sistendret" />
            <h:inputText id="sistendret" value="#{beslagslisterController.selected.sistendret}" title="#{bundle.BeslagslisterTitle_sistendret}" >
                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
            </h:inputText>
            <h:outputLabel value="#{bundle.BeslagslisterLabel_montertavfk}" for="montertavfk" />
            <h:selectOneMenu id="montertavfk" value="#{beslagslisterController.selected.montertavfk}" title="#{bundle.BeslagslisterTitle_montertavfk}" >
                <f:selectItems value="#{brukereController.itemsAvailableSelectOne}"/>
            </h:selectOneMenu>
            <h:outputLabel value="#{bundle.BeslagslisterLabel_doridfk}" for="doridfk" />
            <h:selectOneMenu id="doridfk" value="#{beslagslisterController.selected.doridfk}" title="#{bundle.BeslagslisterTitle_doridfk}" required="true" requiredMessage="#{bundle.BeslagslisterRequiredMessage_doridfk}">
                <f:selectItems value="#{doererController.itemsAvailableSelectOne}"/>
            </h:selectOneMenu>
            <h:outputLabel value="#{bundle.BeslagslisterLabel_kategoriidfk}" for="kategoriidfk" />
            <h:selectOneMenu id="kategoriidfk" value="#{beslagslisterController.selected.kategoriidfk}" title="#{bundle.BeslagslisterTitle_kategoriidfk}" required="true" requiredMessage="#{bundle.BeslagslisterRequiredMessage_kategoriidfk}">
                <f:selectItems value="#{kategorierController.itemsAvailableSelectOne}"/>
            </h:selectOneMenu>
        </h:panelGrid>
        <h:commandLink action="#{beslagslisterController.update}" value="#{bundle.SaveLink}"/>
    </h:form>


</html>
