<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListBeslagslisterTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListBeslagslisterEmpty}" rendered="#{beslagslisterController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{beslagslisterController.items.rowCount > 0}">
                    <h:outputText value="#{beslagslisterController.pagination.pageFirstItem + 1}..#{beslagslisterController.pagination.pageLastItem + 1}/#{beslagslisterController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{beslagslisterController.previous}" value="#{bundle.Previous} #{beslagslisterController.pagination.pageSize}" rendered="#{beslagslisterController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{beslagslisterController.next}" value="#{bundle.Next} #{beslagslisterController.pagination.pageSize}" rendered="#{beslagslisterController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{beslagslisterController.items}" var="beslagItem" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_IDBeslagsliste}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.IDBeslagsliste}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_beslagnavn}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.beslagnavn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_overflate}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.overflate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_montert}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.montert}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_sistendret}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.sistendret}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_montertavfk}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.montertavfk}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_doridfk}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.doridfk}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBeslagslisterTitle_kategoriidfk}"/>
                            </f:facet>
                            <h:outputText value="#{beslagItem.kategoriidfk}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{beslagslisterController.prepareView}" value="#{bundle.ListBeslagslisterViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{beslagslisterController.prepareEdit}" value="#{bundle.ListBeslagslisterEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{beslagslisterController.destroy}" value="#{bundle.ListBeslagslisterDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{beslagslisterController.prepareCreate}" value="#{bundle.ListBeslagslisterCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListBeslagslisterIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
