<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBeslagslisterTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_IDBeslagsliste}"/>
                    <h:outputText value="#{beslagslisterController.selected.IDBeslagsliste}" title="#{bundle.ViewBeslagslisterTitle_IDBeslagsliste}"/>
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_beslagnavn}"/>
                    <h:outputText value="#{beslagslisterController.selected.beslagnavn}" title="#{bundle.ViewBeslagslisterTitle_beslagnavn}"/>
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_overflate}"/>
                    <h:outputText value="#{beslagslisterController.selected.overflate}" title="#{bundle.ViewBeslagslisterTitle_overflate}"/>
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_montert}"/>
                    <h:outputText value="#{beslagslisterController.selected.montert}" title="#{bundle.ViewBeslagslisterTitle_montert}"/>
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_sistendret}"/>
                    <h:outputText value="#{beslagslisterController.selected.sistendret}" title="#{bundle.ViewBeslagslisterTitle_sistendret}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_montertavfk}"/>
                    <h:outputText value="#{beslagslisterController.selected.montertavfk}" title="#{bundle.ViewBeslagslisterTitle_montertavfk}"/>
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_doridfk}"/>
                    <h:outputText value="#{beslagslisterController.selected.doridfk}" title="#{bundle.ViewBeslagslisterTitle_doridfk}"/>
                    <h:outputText value="#{bundle.ViewBeslagslisterLabel_kategoriidfk}"/>
                    <h:outputText value="#{beslagslisterController.selected.kategoriidfk}" title="#{bundle.ViewBeslagslisterTitle_kategoriidfk}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{beslagslisterController.destroyAndView}" value="#{bundle.ViewBeslagslisterDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBeslagslisterEditLink}"/>
                <br />
                <h:commandLink action="#{beslagslisterController.prepareCreate}" value="#{bundle.ViewBeslagslisterCreateLink}" />
                <br />
                <h:commandLink action="#{beslagslisterController.prepareList}" value="#{bundle.ViewBeslagslisterShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBeslagslisterIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
