<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBrukereTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBrukereLabel_idBrukere}" for="idBrukere" />
                    <h:inputText id="idBrukere" value="#{brukereController.selected.idBrukere}" title="#{bundle.CreateBrukereTitle_idBrukere}" required="true" requiredMessage="#{bundle.CreateBrukereRequiredMessage_idBrukere}"/>
                    <h:outputLabel value="#{bundle.CreateBrukereLabel_brukernavn}" for="brukernavn" />
                    <h:inputText id="brukernavn" value="#{brukereController.selected.brukernavn}" title="#{bundle.CreateBrukereTitle_brukernavn}" />
                    <h:outputLabel value="#{bundle.CreateBrukereLabel_passord}" for="passord" />
                    <h:inputText id="passord" value="#{brukereController.selected.passord}" title="#{bundle.CreateBrukereTitle_passord}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{brukereController.create}" value="#{bundle.CreateBrukereSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{brukereController.prepareList}" value="#{bundle.CreateBrukereShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateBrukereIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
