<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body>   
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form>
                <header>
                    <h2>
                        <h:outputText value="#{bundle.BrukereCreate}"></h:outputText>
                    </h2>
                </header>
                <p:growl id="growl" showDetail="true" sticky="true" />
                <p:panelGrid columns="2" id="CreateDialog">
                    
                    <h:outputLabel value="#{bundle.BrukereLabel_brukernavn}" for="brukernavn" />
                    <h:inputText id="brukernavn" value="#{brukereController.selected.brukernavn}" title="#{bundle.BrukereTitle_brukernavn}" />
                    
                    <h:outputLabel value="#{bundle.BrukereLabel_fornavn}" for="fornavn" />
                    <h:inputText id="fornavn" value="#{brukereController.selected.fornavn}" 
                                 title="#{bundle.BrukereTitle_fornavn}" />
                    
                    <h:outputLabel value="#{bundle.BrukereLabel_etternavn}" for="etternavn" />
                    <h:inputText id="etternavn" value="#{brukereController.selected.etternavn}" 
                                 title="#{bundle.BrukereTitle_etternavn}" />
                    
                    <h:outputLabel value="#{bundle.BrukereLabel_passord}" for="passord" />
                    <p:password id="passord" maxlength="8" required="true" requiredMessage="#{bundle.PassordObligatorisk}" 
                                value="#{brukereController.nyttPass}"/>
                    <h:outputLabel value="#{bundle.BrukereLabel_passord_control}" for="passord_control" />
                    <p:password id="passord_control"  required="true" requiredMessage="#{bundle.PassordObligatorisk}" 
                                value="#{brukereController.nyttPassKontroll}"/>
                </p:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 update=":brukerForm"
                                 id="submitButton"                                
                                 action="#{brukereController.createDialog}"
                                 title="Lagre"
                                 />
                
                
            </h:form>
        </h:panelGroup>
    </h:body>
</html>
