<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:panelGroup styleClass="editDialogForm" layout="block">
            <h:form >
                <header>
                    <h2>
                        <h:outputText></h:outputText>
                    </h2>
                </header>
                <h:panelGrid columns="2" id="editDialog" cellpadding="4">
                    <h:outputLabel value="#{bundle.BrukereLabel_idBrukere}" for="idBrukere" />
                    <h:inputText id="idBrukere" value="#{brukereController.selected.idBrukere}" 
                                 title="#{bundle.BrukereTitle_idBrukere}" required="true" 
                                 requiredMessage="#{bundle.EditBrukereRequiredMessage_idBrukere}" disabled="true"/>
                    <h:outputLabel value="#{bundle.BrukereLabel_brukernavn}" for="brukernavn" />
                    <h:inputText id="brukernavn" value="#{brukereController.selected.brukernavn}" 
                                 title="#{bundle.BrukereTitle_brukernavn}" />
                    
                    <h:outputLabel value="#{bundle.BrukereLabel_fornavn}" for="fornavn" />
                    <h:inputText id="fornavn" value="#{brukereController.selected.fornavn}" 
                                 title="#{bundle.BrukereTitle_fornavn}" />
                    
                    <h:outputLabel value="#{bundle.BrukereLabel_etternavn}" for="etternavn" />
                    <h:inputText id="etternavn" value="#{brukereController.selected.etternavn}" 
                                 title="#{bundle.BrukereTitle_etternavn}" />
                    
                    <h:outputLabel value="#{bundle.BrukereLabel_passord}" for="gammeltPassord" />
                    <p:password id="gammeltPassord" required="true" requiredMessage="#{bundle.PassordObligatorisk}" 
                                value="#{brukereController.gammeltPass}"/>
                    <h:outputLabel value="#{bundle.BrukereLabel_nyttPassord}" for="nyttPassord" />
                    <p:password id="nyttPassord" required="false" value="#{brukereController.nyttPass}"/>
                    <h:outputLabel value="#{bundle.BrukereLabel_passord_control}" for="passord_control" />
                    <p:password id="passord_control"  required="false" value="#{brukereController.nyttPassKontroll}"/>
                    
                </h:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 update=":brukere"
                                 id="submitButton"                                
                                 action="#{brukereController.updateDialog}"
                                 oncomplete="editBrukerDlg.hide();"
                                 />
                
            </h:form>
        </h:panelGroup>
    </h:body>
</html>

