<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    
    <ui:composition >
        <h:panelGroup id="brukereList" styleClass="flere_tabeller"  layout="block">
            <h:form id="brukerForm">
                <header><h2>Brukere</h2></header> <!-- TODO Flytt denne teksten inn i properties -->
                <h:outputText escape="false" value="#{bundle.BrukereEmpty}" rendered="#{brukereController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{brukereController.items.rowCount > 0}">
                    
                    <p:dataTable id="brukereTable" 
                                 value="#{brukereController.items}" 
                                 var="brukerItem"
                                 paginator="true"
                                 rows="10">
                        <p:column headerText="#{bundle.BrukereTitle_idBrukere}" sortBy="#{brukerItem.idBrukere}">
                            <h:outputText value="#{brukerItem.idBrukere}"/>
                        </p:column>
                        <p:column headerText="#{bundle.BrukereTitle_brukernavn}" sortBy="#{brukerItem.brukernavn}">
                            <h:outputText value="#{brukerItem.brukernavn}"/>
                        </p:column>
                        <p:column headerText="#{bundle.BrukereTitle_fornavn}" sortBy="#{brukerItem.fornavn}">
                            <h:outputText value="#{brukerItem.fornavn}"/>
                        </p:column>
                        <p:column headerText="#{bundle.BrukereTitle_etternavn}" sortBy="#{brukerItem.etternavn}">
                            <h:outputText value="#{brukerItem.etternavn}"/>
                        </p:column>
                        <p:column headerText=" ">
                            <p:splitButton actionListener="#{brukereController.prepareEditDialog(brukerItem)}"
                                           ajax="true"
                                           id="basic" 
                                           value="#{bundle.EditLink}" 
                                           oncomplete="editBrukerDlg.show();"
                                           icon="ui-icon-wrench"
                                           >
                                <p:menuitem actionListener="#{brukereController.destroy()}" 
                                            value="#{bundle.DestroyLink}"
                                            update=":brukerForm"
                                            icon="ui-icon-minusthick"
                                            />
                            </p:splitButton>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton label="Legg til ny bruker" 
                                     icon="ui-icon-plusthick"
                                     action="#{brukereController.prepareCreate}"
                                     oncomplete="createBrukerDlg.show();"
                                     title="Legg til en ny bruker"
                                     />
                </h:panelGroup>       
            </h:form>
            <p:dialog id="dialogAddBruker" header="Legg til ny bruker" widgetVar="createBrukerDlg" dynamic="true" modal="true" resizable="true">
                <ui:include src="CreateBruker.xhtml" /> 
            </p:dialog>
            <p:dialog id="dialogEditBruker" header="Rediger bruker" widgetVar="editBrukerDlg" dynamic="true" modal="true" resizable="true">
                <ui:include src="EditBruker.xhtml" /> 
            </p:dialog> 
        </h:panelGroup>                 
    </ui:composition>
</html>
