<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBrukereTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBrukereLabel_idBrukere}"/>
                    <h:outputText value="#{brukereController.selected.idBrukere}" title="#{bundle.ViewBrukereTitle_idBrukere}"/>
                    <h:outputText value="#{bundle.ViewBrukereLabel_brukernavn}"/>
                    <h:outputText value="#{brukereController.selected.brukernavn}" title="#{bundle.ViewBrukereTitle_brukernavn}"/>
                    <h:outputText value="#{bundle.ViewBrukereLabel_passord}"/>
                    <h:outputText value="#{brukereController.selected.passord}" title="#{bundle.ViewBrukereTitle_passord}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{brukereController.destroyAndView}" value="#{bundle.ViewBrukereDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBrukereEditLink}"/>
                <br />
                <h:commandLink action="#{brukereController.prepareCreate}" value="#{bundle.ViewBrukereCreateLink}" />
                <br />
                <h:commandLink action="#{brukereController.prepareList}" value="#{bundle.ViewBrukereShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBrukereIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
