<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form>
        <p:dataTable var="prosjektValg" 
                     value="#{prosjekterController.items}" 
                     paginator="true" 
                     rows="10"
                     id="prosjekterValgTable" 
                     >

            <p:column headerText="#{bundle.ProsjekterTitle_prosjektID}"
                      id="prosjektID"
                      sortBy="#{prosjektValg.prosjektID}">   
                <h:outputText value="#{prosjektValg.prosjektID}" />
            </p:column>

            <p:column headerText="#{bundle.ProsjekterTitle_prosjektNavn}" 
                      sortBy="#{prosjektValg.prosjektNavn}">
                <h:outputText value="#{prosjektValg.prosjektNavn}"/>
            </p:column>

            <p:column headerText="#{bundle.ProsjekterTitle_prosjektKategorieridProsjektKategorier}" 
                      sortBy="#{prosjektValg.prosjektKategorieridProsjektKategorier.idProsjektKategorier}">
                <h:outputText value="#{prosjektValg.prosjektKategorieridProsjektKategorier.kategoriNavn}"/>
            </p:column>

            <p:column headerText="#{bundle.ProsjekterTitle_opprettet}" 
                      sortBy="#{prosjektValg.opprettet}">
                <h:outputText value="#{prosjektValg.opprettet}">
                    <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                </h:outputText>
            </p:column>

            <p:column headerText="#{bundle.ProsjekterTitle_oppdatert}" 
                      sortBy="#{prosjektValg.oppdatert}">
                <h:outputText value="#{prosjektValg.oppdatert}">
                    <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                </h:outputText>
            </p:column>

            <p:column style="width:4%">  
                <p:commandButton id="selectButton" 
                                 update=":body" 
                                 oncomplete="velgProsjektDialog.hide();" 
                                 icon="ui-icon-search" 
                                 title="#{bundle.ViewLink}"
                                 action="#{prosjekterController.prepareNewView(prosjektValg)}"
                                 ajax="true">
  
                </p:commandButton>

            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>
