<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProsjekterTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProsjekterLabel_prosjektID}" for="prosjektID" />
                    <h:inputText id="prosjektID" value="#{prosjekterController.selected.prosjektID}" title="#{bundle.EditProsjekterTitle_prosjektID}" required="true" requiredMessage="#{bundle.EditProsjekterRequiredMessage_prosjektID}"/>
                    <h:outputLabel value="#{bundle.EditProsjekterLabel_prosjektNavn}" for="prosjektNavn" />
                    <h:inputText id="prosjektNavn" value="#{prosjekterController.selected.prosjektNavn}" title="#{bundle.EditProsjekterTitle_prosjektNavn}" />
                    <h:outputLabel value="#{bundle.EditProsjekterLabel_prosjektInfo}" for="prosjektInfo" />
                    <h:inputTextarea rows="4" cols="30" id="prosjektInfo" value="#{prosjekterController.selected.prosjektInfo}" title="#{bundle.EditProsjekterTitle_prosjektInfo}" />
                    <h:outputLabel value="#{bundle.EditProsjekterLabel_kontaktPerson}" for="kontaktPerson" />
                    <h:inputText id="kontaktPerson" value="#{prosjekterController.selected.kontaktPerson}" title="#{bundle.EditProsjekterTitle_kontaktPerson}" />
                    <h:outputLabel value="#{bundle.EditProsjekterLabel_tegningfk}" for="tegningfk" />
                    <h:selectOneMenu id="tegningfk" value="#{prosjekterController.selected.tegningfk}" title="#{bundle.EditProsjekterTitle_tegningfk}" >
                        <f:selectItems value="#{tegningerController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditProsjekterLabel_prosjektKategorieridProsjektKategorier}" for="prosjektKategorieridProsjektKategorier" />
                    <h:selectOneMenu id="prosjektKategorieridProsjektKategorier" value="#{prosjekterController.selected.prosjektKategorieridProsjektKategorier}" title="#{bundle.EditProsjekterTitle_prosjektKategorieridProsjektKategorier}" >
                        <f:selectItems value="#{prosjektKategorierController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{prosjekterController.update}" value="#{bundle.EditProsjekterSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="#{prosjekterController.prepareView}" value="#{bundle.ListProsjekterViewLink}"/>
                <br />
                <h:commandLink action="#{prosjekterController.prepareList}" value="#{bundle.EditProsjekterShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProsjekterIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
