<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form>
                <header>
                    <h2>
                        <h:outputText value="#{prosjekterController.selected.prosjektNavn}"></h:outputText>
                    </h2>
                </header>
                <p:panelGrid columns="2" id="prosjektEditDialog">
                    <h:outputLabel value="#{bundle.ProsjekterLabel_prosjektNavn}" for="prosjektNavn" />
                    <h:inputText id="prosjektNavn" 
                                 value="#{prosjekterController.selected.prosjektNavn}" 
                                 title="#{bundle.ProsjekterTitle_prosjektNavn}"
                                 validatorMessage="Prosjektnavn: Gyldige tegn er [ aA-åÅ ,  .  / ]."
                                 
                                 />

                    <h:outputLabel value="#{bundle.ProsjekterLabel_prosjektInfo}" for="prosjektInfo" />
                    <h:inputTextarea rows="4" cols="30" id="prosjektInfo" value="#{prosjekterController.selected.prosjektInfo}" title="#{bundle.ProsjekterTitle_prosjektInfo}" />

      

                    <h:outputLabel value="#{bundle.ProsjekterLabel_tegningfk}" for="tegningfk" />
                    <h:selectOneMenu id="tegningfk" value="#{prosjekterController.selected.tegningfk}" title="#{bundle.ProsjekterTitle_tegningfk}" >
                        <f:selectItems value="#{tegningerController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>

                    <h:outputLabel value="#{bundle.ProsjekterLabel_prosjektKategorieridProsjektKategorier}" for="prosjektKategorieridProsjektKategorier" />
                    <h:selectOneMenu id="prosjektKategorieridProsjektKategorier" value="#{prosjekterController.selected.prosjektKategorieridProsjektKategorier}" title="#{bundle.ProsjekterTitle_prosjektKategorieridProsjektKategorier}" >
                        <f:selectItems value="#{prosjektKategorierController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>


                </p:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 update=":kontaktForm:kontaktTable, :prosjekter, :brukere"
                                 id="editButton"                                
                                 action="#{prosjekterController.updateDialog}"
                                 oncomplete="editProsjektDlg.hide();"
                                 />
            </h:form>

        </h:panelGroup>
    </h:body>
</html>
