<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ProsjekterTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ProsjekterEmpty}" rendered="#{prosjekterController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{prosjekterController.items.rowCount > 0}">
                    <h:outputText value="#{prosjekterController.pagination.pageFirstItem + 1}..#{prosjekterController.pagination.pageLastItem + 1}/#{prosjekterController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{prosjekterController.previous}" value="#{bundle.Previous} #{prosjekterController.pagination.pageSize}" rendered="#{prosjekterController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{prosjekterController.next}" value="#{bundle.Next} #{prosjekterController.pagination.pageSize}" rendered="#{prosjekterController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{prosjekterController.items}" var="prosjektItem" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_prosjektID}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.prosjektID}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_prosjektNavn}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.prosjektNavn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_prosjektInfo}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.prosjektInfo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_kontaktPerson}"/>
                            </f:facet>

                            <ui:repeat var="navn" value="#{prosjektItem.kontaktPersonerCollection}" varStatus="loop">
                                <h:commandLink action="#{kontaktPersonerController.prepareView}" value="#{prosjektItem.kontaktPersonerCollection[loop.index].navn}"/>
                                <br />
                            </ui:repeat>

                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_opprettet}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.opprettet}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_oppdatert}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.oppdatert}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_tegningfk}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.tegningfk}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ProsjekterTitle_prosjektKategorieridProsjektKategorier}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.prosjektKategorieridProsjektKategorier.kategoriNavn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{prosjekterController.prepareView}" value="#{bundle.ViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{prosjekterController.prepareEdit}" value="#{bundle.EditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{prosjekterController.destroy}" value="#{bundle.DestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{prosjekterController.prepareCreate}" value="#{bundle.CreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ProsjekterIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
