<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ProsjekterTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form enctype="multipart/form-data">  

                <p:fileUpload fileUploadListener="#{fileUploadController.upload}"  
                              mode="advanced"   
                              update="messages"  
                              sizeLimit="100000"   
                              allowTypes="/(\.|\/)(xls?x)$/"/>  

                <p:growl id="messages" showDetail="true"/>  

            </h:form>
        </ui:define>
    </ui:composition>

</html>
