<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.PageTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="contentGroup" >
                
                <p:panel header="Prosjektinfo #{prosjekterController.selected.prosjektNavn}" 
                         toggleable="true" 
                         collapsed="true" 
                         styleClass="toggleablePanel" 
                         toggleSpeed="500" 
                         closeSpeed="500" 
                         widgetVar="prosjektPanel" 
                         id="prosjektInfo">
                    <!-- Hovedprosjektskjema -->
                    <h:panelGroup id="prosjekter" styleClass="flere_tabeller" rendered="#{prosjekterController.selected.prosjektID > 0}">

                        <h:form>
                            <header><h2>#{bundle.Prosjekt}</h2></header>

                            <p:panelGrid columns="2">
                                <f:facet name="header" class="headerStyle">  
                                    #{prosjekterController.selected.prosjektNavn}  
                                </f:facet>
                                <h:outputText value="#{bundle.ProsjekterLabel_prosjektInfo}"/>
                                <h:outputText value="#{prosjekterController.selected.prosjektInfo}" title="#{bundle.ProsjekterTitle_prosjektInfo}"/>



                                <h:outputText value="#{bundle.ProsjekterLabel_opprettet}"/>
                                <h:outputText value="#{prosjekterController.selected.opprettet}" title="#{bundle.ProsjekterTitle_opprettet}">
                                    <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                                </h:outputText>
                                <h:outputText value="#{bundle.ProsjekterLabel_oppdatert}"/>
                                <h:outputText value="#{prosjekterController.selected.oppdatert}" title="#{bundle.ProsjekterTitle_oppdatert}">
                                    <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                                </h:outputText>
                                <h:outputText value="#{bundle.ProsjekterLabel_tegningfk}"/>
                                <h:outputText value="#{prosjekterController.selected.tegningfk}" title="#{bundle.ProsjekterTitle_tegningfk}"/>
                                <h:outputText value="#{bundle.ProsjekterLabel_prosjektKategorieridProsjektKategorier}"/>
                                <h:outputText value="#{prosjekterController.selected.prosjektKategorieridProsjektKategorier.kategoriNavn}" title="#{bundle.ProsjekterTitle_prosjektKategorieridProsjektKategorier}"/>
                                <f:facet name="footer">  

                                </f:facet>
                            </p:panelGrid>
                            <p:splitButton actionListener="#{prosjekterController.prepareEdit}" 
                                           value="#{bundle.EditLink}"

                                           id="editProsjektButton"  
                                           oncomplete="editProsjektDlg.show();"
                                           icon="ui-icon-wrench">
                                <p:menuitem onclick="confirmDelProj.show()" value="#{bundle.DestroyLink}" icon="ui-icon-trash" />
                                <p:menuitem actionListener="#{prosjekterController.prepareCreate}" value="#{bundle.CreateLink}" icon="ui-icon-document"/>
                            </p:splitButton>
                            <!-- Bekreft sletting av prosjekt -->
                            <p:confirmDialog id="confirmDelProj" message="#{bundle.ConfirmDeleteProject}"  
                                             header="#{bundle.SlettingStartet}" severity="alert" widgetVar="confirmDelProj">  
                                <p:commandButton id="confirmDelPro" value="#{bundle.Yes}" update=":messagePanel, :body" oncomplete="confirmDelProj.hide()"  
                                                 actionListener="#{prosjekterController.destroyAjax(prosjekterController.selected)}" />  
                                <p:commandButton id="declineDelPro" value="#{bundle.No}" onclick="confirmDelProj.hide()" type="button" />   
                            </p:confirmDialog> 
                            <!-- Slutt --> 
                        </h:form>
                    </h:panelGroup>

                    <p:dialog id="dialogEditProsjekt" styleClass="dialog" width="800" header="Rediger prosjekt" widgetVar="editProsjektDlg" dynamic="true" modal="true" resizable="true">
                        <ui:include src="/prosjekter/EditProsjekter.xhtml" /> 
                    </p:dialog>

                    <!-- Hovedprosjektskjema slutt -->

                    <!-- Kontaktpersonerskjema -->

                    <h:panelGroup id="kontakter" styleClass="flere_tabeller" layout="block" rendered="#{prosjekterController.selected.prosjektID > 0}">
                        <h:form id="kontaktForm" styleClass="jsfcrud_list_form">
                            <header><h2>Kontaktpersoner</h2></header> <!-- TODO Flytt denne teksten inn i properties -->
                            <h:outputText escape="false" value="#{bundle.KontaktPersonerEmpty}" rendered="#{prosjekterController.selected.kontaktPersonerCollection == null}"/>
                            <h:panelGroup >
                                <p:dataTable id="kontaktTable" 
                                             value="#{prosjekterController.selected.kontaktPersonerCollection}" 
                                             var="kontaktItem">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.KontaktPersonerLabel_tittel}"/>
                                        </f:facet>
                                        <h:outputText value="#{kontaktItem.tittel}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.KontaktPersonerTitle_navn}"/>
                                        </f:facet>
                                        <h:outputText value="#{kontaktItem.navn}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.KontaktPersonerTitle_tlf}"/>
                                        </f:facet>
                                        <h:outputText value="#{kontaktItem.tlf}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.KontaktPersonerTitle_epost}"/>
                                        </f:facet>
                                        <h:outputText value="#{kontaktItem.epost}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.KontaktPersonerTitle_firmaid}"/>
                                        </f:facet>
                                        <h:outputText value="#{kontaktItem.firmaid.firmanavn}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="#{bundle.KontaktPersonerTitle_adresse}"/>
                                        </f:facet>
                                        <h:outputText value="#{kontaktItem.adresse.adr1}"/>
                                        <br />
                                        <c:if test="#{kontaktItem.adresse.adr2}">
                                            <h:outputText value="#{kontaktItem.adresse.adr2}"/>
                                            <br />
                                        </c:if>
                                        <c:if test="#{kontaktItem.adresse.adr3}">
                                            <h:outputText value="#{kontaktItem.adresse.adr3}"/>
                                            <br />
                                        </c:if>
                                        <h:outputText value="#{kontaktItem.adresse.postNr}"/>
                                        <h:outputText value=""/>
                                        <h:outputText value="#{kontaktItem.adresse.postSted}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="

                                                          "/>
                                        </f:facet>

                                        <p:splitButton actionListener="#{kontaktPersonerController.prepareEditDialog(kontaktItem)}"
                                                       ajax="true"
                                                       id="basic" 
                                                       value="#{bundle.EditLink}" 
                                                       oncomplete="viewKontaktPersonDlg.show();"
                                                       icon="ui-icon-wrench"
                                                       >
                                            <p:menuitem actionListener="#{prosjekterController.removeFromProject(kontaktItem, prosjekterController.selected)}" 
                                                        value="#{bundle.DestroyLink}"
                                                        update=":kontaktForm"
                                                        icon="ui-icon-minus"
                                                        />
                                        </p:splitButton>
                                    </p:column>
                                </p:dataTable>
                                <p:commandButton label="Legg til ny kontaktperson" 
                                                 icon="ui-icon-plusthick"
                                                 actionListener="#{kontaktPersonerController.prepareList}"
                                                 oncomplete="addKontaktPersonDlg.show();"
                                                 title="Legg til en ny kontaktperson"
                                                 />
                            </h:panelGroup>
                        </h:form>

                        <p:dialog id="dialogAdd" header="Legg til Kontaktperson" widgetVar="addKontaktPersonDlg" dynamic="true" modal="false" resizable="true">
                            <ui:include src="/kontaktPersoner/AddKontaktperson.xhtml" /> 
                        </p:dialog>

                        <p:dialog id="dialogEdit" header="Rediger Kontaktperson" widgetVar="viewKontaktPersonDlg" dynamic="true" modal="true" resizable="true">
                            <ui:include src="/kontaktPersoner/EditKontaktperson.xhtml" /> 
                        </p:dialog> 

                    </h:panelGroup>

                    <!-- Kontaktpersonerskjema slutt-->


                    <!-- Brukereskjema -->

                    <h:panelGroup id="brukere" styleClass="flere_tabeller"  layout="block" rendered="#{prosjekterController.selected.prosjektID > 0}">
                        <h:form id="brukerForm" styleClass="jsfcrud_list_form">
                            <header><h2>Brukere</h2></header> <!-- TODO Flytt denne teksten inn i properties -->
                            <h:panelGroup >
                                <p:dataTable id="brukereTable" 
                                             value="#{brukereController.items}"  
                                             var="brukerItem">

                                    <p:column headerText="#{bundle.BrukereTitle_brukernavn}">
                                        #{brukerItem.brukernavn}
                                    </p:column>
                                    <p:column >
                                        <p:commandButton
                                            rendered="#{prosjekterController.selected.brukereCollection.contains(brukerItem)}"
                                            actionListener="#{prosjekterController.removeBruker(brukerItem)}"
                                            ajax="true"
                                            update=":brukere"
                                            icon="ui-icon-minusthick" 
                                            title="Fjern fra prosjekt" 
                                            />
                                        <p:commandButton 
                                            rendered="#{!prosjekterController.selected.brukereCollection.contains(brukerItem)}"
                                            actionListener="#{prosjekterController.addBruker(brukerItem)}"
                                            ajax="true"
                                            update=":brukere"
                                            icon="ui-icon-plusthick" 
                                            title="Legg til prosjekt" 
                                            />
                                    </p:column>
                                </p:dataTable>

                            </h:panelGroup>
                            <footer>

                            </footer>
                        </h:form>
                    </h:panelGroup>
                    <!-- Brukerskjema slutt -->
                    <h:panelGroup layout="block" styleClass="clearBoth" />
                </p:panel>


                <!-- Dørerskjema -->
                <h:panelGroup id="Doerer" styleClass="flere_tabeller"  layout="block" rendered="#{prosjekterController.selected.prosjektID > 0}">
                    <h:form id="dorereForm">
                        <header><h2>Dører</h2></header> <!-- TODO Flytt denne teksten inn i properties -->
                        <h:outputText escape="false" value="#{bundle.DoererEmpty}" rendered="#{prosjekterController.selected.doererCollection.size() == 0}"/>
                        <h:panelGroup rendered="#{doererController.items.rowCount > 0}">
                            <p:dataTable id="tbl" value="#{prosjekterController.selected.doererCollection}" var="doererItem" paginator="true" rows="10" rowsPerPageTemplate="5,10,15">

                                <p:column headerText="#{bundle.DoererTitle_dorNr}" sortBy="#{doererItem.dorNr}">
                                    <h:outputText value="#{doererItem.dorNr}"/>
                                </p:column>

                                <p:column  headerText="" sortBy="">
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.DoererTitle_bygning}"/>
                                    </f:facet>
                                    <h:outputText value="#{doererItem.bygning}"/>

                                </p:column >

                                <p:column headerText="#{bundle.DoererTitle_etasje}" sortBy="#{doererItem.etasje}">
                                    <h:outputText value="#{doererItem.etasje}"/>
                                </p:column>

                                <p:column  headerText="#{bundle.DoererTitle_romtype}" sortBy="#{doererItem.romtype}">
                                    <h:outputText value="#{doererItem.romtype}"/>
                                </p:column>

                                <p:column  headerText="#{bundle.DoererTitle_sistendret}" sortBy="#{doererItem.sistendret}">
                                    <h:outputText value="#{doererItem.sistendret}">
                                        <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                                    </h:outputText>
                                </p:column>

                                <p:column  headerText="#{bundle.DoererTitle_ferdig}" sortBy="#{doererItem.ferdig}">
                                    <p:commandLink  styleClass="ui-icon ui-icon-close" rendered="#{!doererItem.ferdig}" />
                                    <p:commandLink  styleClass="ui-icon ui-icon-check" rendered="#{doererItem.ferdig}" />
                                </p:column>

                                <p:column styleClass="iconDoerer">
                                    <f:facet name="header">
                                        <h:outputText value=""/>
                                    </f:facet>

                                    <p:commandLink actionListener="#{doererController.prepareViewProsjekt(doererItem)}"
                                                   title="#{bundle.ViewLink}" 
                                                   styleClass="ui-icon ui-icon-search"
                                                   update=":doorPanel, :Beslag"
                                                   />
                                    <p:commandLink actionListener="#{doererController.prepareViewProsjekt(doererItem)}" 
                                                   title="#{bundle.EditLink}" 
                                                   styleClass="ui-icon ui-icon-pencil"
                                                   oncomplete="editDoererDlg.show();"
                                                   update=":doorPanel, :Beslag"/>
                                    <p:commandLink actionListener="#{doererController.prepareDelete(doererItem)}"
                                                   onclick="confirmDelDoer.show();" 
                                                   title="#{bundle.DestroyLink}" 
                                                   styleClass="ui-icon ui-icon-trash"/>
                                </p:column>

                            </p:dataTable>
                            <!-- Bekreft sletting av Dør -->
                            <p:confirmDialog id="confirmDelDoer" message="#{bundle.ConfirmDeleteDoer}"  
                                             header="#{bundle.SlettingStartet}" severity="alert" widgetVar="confirmDelDoer">  
                                <p:commandButton id="confirmDelDoe" value="#{bundle.Yes}" update=":messagePanel, :body" oncomplete="confirmDelDoer.hide()"  
                                                 actionListener="#{doererController.destroyAjax}" />  
                                <p:commandButton id="declineDelDoe" value="#{bundle.No}" onclick="confirmDelProj.hide()" type="button" />

                            </p:confirmDialog> 
                            <!-- Slutt  -->
                            <p:commandButton label="Legg til ny dør" 
                                             icon="ui-icon-plusthick"
                                             actionListener="#{doererController.prepareCreateAjax(prosjekterController.selected)}"
                                             oncomplete="addDoerDlg.show();"
                                             title="Legg til en ny dør"
                                             />
                        </h:panelGroup>
                    </h:form>
                    <p:dialog id="dialogEditDoer" styleClass="dialog" width="800" header="Rediger dør" widgetVar="editDoererDlg" dynamic="true" modal="true" resizable="true">
                        <ui:include src="/doerer/EditDoer.xhtml" /> 
                    </p:dialog>
                    <p:dialog id="dialogAddDoer" header="Legg til Dør" widgetVar="addDoerDlg" dynamic="true" modal="false" resizable="true">
                        <ui:include src="/doerer/AddDoerer.xhtml" /> 
                    </p:dialog>
                </h:panelGroup>
                <!-- Dørerskjema slutt -->

                <!-- Dørpanel -->
                <h:panelGroup id="doorPanel" styleClass="flere_tabeller" layout="block" rendered="#{prosjekterController.selected.prosjektID > 0}">
                    <h:outputText value="(Ingen dør valgt)" rendered="#{doererController.selected.IDDor == null}" />
                    <h:form id="doorPanelForm" rendered="#{doererController.selected.IDDor != null}">
                        <header><h2>Dør</h2></header>
                        <p:panelGrid columns="2">
                            <f:facet name="header" class="headerStyle">  
                                <h:outputText value="Dør: #{doererController.selected.dorNr}" />
                            </f:facet>
                            <c:if test="#{doererController.selected.bygning.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_bygning}"/>
                                <h:outputText value="#{doererController.selected.bygning}" title="#{bundle.DoererTitle_bygning}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.etasje.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_etasje}"/>
                                <h:outputText value="#{doererController.selected.etasje}" title="#{bundle.DoererTitle_etasje}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.romtype.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_romtype}"/>
                                <h:outputText value="#{doererController.selected.romtype}" title="#{bundle.DoererTitle_romtype}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.id.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_id}"/>
                                <h:outputText value="#{doererController.selected.id}" title="#{bundle.DoererTitle_id}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.doertype.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_doertype}"/>
                                <h:outputText value="#{doererController.selected.doertype}" title="#{bundle.DoererTitle_doertype}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.doerKonstruksjon1.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_doerKonstruksjon1}"/>
                                <h:outputText value="#{doererController.selected.doerKonstruksjon1}" title="#{bundle.DoererTitle_doerKonstruksjon1}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.doerKonstruksjon2.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_doerKonstruksjon2}"/>
                                <h:outputText value="#{doererController.selected.doerKonstruksjon2}" title="#{bundle.DoererTitle_doerKonstruksjon2}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.format.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_format}"/>
                                <h:outputText value="#{doererController.selected.format}" title="#{bundle.DoererTitle_format}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.slagretning.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_slagretning}"/>
                                <h:outputText value="#{doererController.selected.slagretning}" title="#{bundle.DoererTitle_slagretning}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.glassapning.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_glassapning}"/>
                                <h:outputText value="#{doererController.selected.glassapning}" title="#{bundle.DoererTitle_glassapning}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.floy.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_floy}"/>
                                <h:outputText value="#{doererController.selected.floy}" title="#{bundle.DoererTitle_floy}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.overflatedoer.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_overflatedoer}"/>
                                <h:outputText value="#{doererController.selected.overflatedoer}" title="#{bundle.DoererTitle_overflatedoer}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.karm.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_karm}"/>
                                <h:outputText value="#{doererController.selected.karm}" title="#{bundle.DoererTitle_karm}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.overflatekarm.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_overflatekarm}"/>
                                <h:outputText value="#{doererController.selected.overflatekarm}" title="#{bundle.DoererTitle_overflatekarm}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.terskel.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_terskel}"/>
                                <h:outputText value="#{doererController.selected.terskel}" title="#{bundle.DoererTitle_terskel}"/>
                            </c:if>

                            <h:outputText value="#{bundle.DoererLabel_sistendret}"/>
                            <h:outputText value="#{doererController.selected.sistendret}" title="#{bundle.DoererTitle_sistendret}">
                                <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                            </h:outputText>


                            <h:outputText value="#{bundle.DoererLabel_ferdig}"/>
                            <h:outputText value="Ja" rendered="#{doererController.selected.ferdig}"/>
                            <h:outputText value="Nei" rendered="#{!doererController.selected.ferdig}"/>

                            <c:if test="#{doererController.selected.utforing.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_utforing}"/>
                                <h:outputText value="#{doererController.selected.utforing}" title="#{bundle.DoererTitle_utforing}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.dytting.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_dytting}"/>
                                <h:outputText value="#{doererController.selected.dytting}" title="#{bundle.DoererTitle_dytting}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.fuging.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_fuging}"/>
                                <h:outputText value="#{doererController.selected.fuging}" title="#{bundle.DoererTitle_fuging}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.listverk.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_listverk}"/>
                                <h:outputText value="#{doererController.selected.listverk}" title="#{bundle.DoererTitle_listverk}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.merknad.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_merknad}"/>
                                <h:outputText value="#{doererController.selected.merknad}" title="#{bundle.DoererTitle_merknad}"/>
                            </c:if>
                            <c:if test="#{doererController.selected.montert.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_montert}"/>
                                <h:outputText value="#{doererController.selected.montert}" title="#{bundle.DoererTitle_montert}">
                                    <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                                </h:outputText>
                            </c:if>
                            <c:if test="#{doererController.selected.revisjon.length() > 0}">
                                <h:outputText value="#{bundle.DoererLabel_revisjon}"/>
                                <h:outputText value="#{doererController.selected.revisjon}" title="#{bundle.DoererTitle_revisjon}"/>
                            </c:if>

                        </p:panelGrid>
                    </h:form>
                </h:panelGroup>

                <!-- Dørpanel slutt -->
                <!-- Beslagsliste -->
                <h:panelGroup id="Beslag" styleClass="flere_tabeller" layout="block" rendered="#{prosjekterController.selected.prosjektID > 0}">
                    <h:outputText escape="false" value="#{bundle.BeslagslisterEmpty}" rendered="#{doererController.selected.IDDor == null}"/>
                    <h:form id="beslagPanelForm" >
                        <header><h2>Beslag på dør: #{doererController.selected.dorNr}</h2><i>(#{doererController.selected.IDDor})</i></header> <!-- TODO Flytt denne teksten inn i properties -->
                        <p:dataTable id="bslgtbl" value="#{doererController.selected.beslagslisterCollection}" var="beslagItem" paginator="true" rows="10" rowsPerPageTemplate="5,10,15">

                            <p:column headerText="#{bundle.BeslagslisterTitle_beslagnavn}" sortBy="#{beslagItem.beslagnavn}">
                                <h:outputText value="#{beslagItem.beslagnavn}"/>
                            </p:column>

                            <p:column headerText="#{bundle.BeslagslisterTitle_overflate}" sortBy="#{beslagItem.overflate}">
                                <h:outputText value="#{beslagItem.overflate}"/>
                            </p:column>


                            <p:column headerText="#{bundle.BeslagslisterTitle_montertavfk}" sortBy="#{beslagItem.montertavfk.brukernavn}">
                                <h:outputText value="#{beslagItem.montertavfk.brukernavn}"/>
                            </p:column>

                            <p:column headerText="#{bundle.BeslagslisterTitle_kategoriidfk}" sortBy="#{beslagItem.kategoriidfk}">
                                <h:outputText value="#{beslagItem.kategoriidfk.navn}"/>
                            </p:column>

                            <p:column headerText="#{bundle.BeslagslisterTitle_sistendret}" sortBy="#{beslagItem.sistendret}">
                                <h:outputText value="#{beslagItem.sistendret}">
                                    <f:convertDateTime dateStyle="medium" locale="no" timeStyle="short" type="both" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="#{bundle.BeslagslisterTitle_montert}" sortBy="#{beslagItem.montert}">
                                <p:commandLink  styleClass="ui-icon ui-icon-close" rendered="#{beslagItem.montert == false || beslagItem.montert == null}" />
                                <p:commandLink  styleClass="ui-icon ui-icon-check" rendered="#{beslagItem.montert}" />
                            </p:column>

                            <p:column styleClass="iconDoerer">
                                <f:facet name="header">
                                    <h:outputText value=""/>
                                </f:facet>

                                <p:commandLink actionListener="#{beslagslisterController.prepareViewProsjekt(beslagItem)}" 
                                               title="#{bundle.EditLink}" 
                                               styleClass="ui-icon ui-icon-pencil"
                                               oncomplete="editBeslagDlg.show();"
                                               update=":Beslag"/>
                                <p:commandLink onclick="confirmDelBeslag.show();" title="#{bundle.DestroyLink}" styleClass="ui-icon ui-icon-trash"/>

                            </p:column>
                        </p:dataTable>
                        <!-- Bekreft sletting av beslag -->
                        <p:confirmDialog id="confirmDelBeslag" message="#{bundle.ConfirmDeleteBeslag}"  
                                         header="#{bundle.SlettingStartet}" severity="alert" widgetVar="confirmDelBeslag">  
                            <p:commandButton id="confirmDelBesla" value="#{bundle.Yes}" update=":messagePanel, :body" oncomplete="confirmDelBeslag.hide()"  
                                             actionListener="#{beslagslisterController.destroyAjax(beslagItem)}" />  
                            <p:commandButton id="declineDelBesla" value="#{bundle.No}" onclick="confirmDelBeslag.hide()" type="button" />   
                        </p:confirmDialog> 
                        <!-- slutt -->
                        <p:commandButton label="Legg til nytt beslag" 
                                         icon="ui-icon-plusthick"
                                         actionListener="#{beslagslisterController.prepareCreateAjax(doererController.selected)}"
                                         oncomplete="addBeslagDlg.show();"
                                         title="Legg til et nytt beslag"
                                         />
                    </h:form>
                    <p:dialog id="dialogEditBeslag" styleClass="dialog" width="800" header="Rediger beslag" widgetVar="editBeslagDlg" dynamic="true" modal="true" resizable="true">
                        <ui:include src="/beslagslister/EditBeslag.xhtml" /> 
                    </p:dialog>
                    <p:dialog id="dialogAddBeslag" header="Legg til beslag" widgetVar="addBeslagDlg" dynamic="true" modal="false" resizable="true">
                        <ui:include src="/beslagslister/AddBeslag.xhtml" /> 
                    </p:dialog>
                </h:panelGroup>
                <!-- Beslagsliste slutt -->


            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>
