<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProsjektKategorierTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProsjektKategorierLabel_idProsjektKategorier}" for="idProsjektKategorier" />
                    <h:inputText id="idProsjektKategorier" value="#{prosjektKategorierController.selected.idProsjektKategorier}" title="#{bundle.CreateProsjektKategorierTitle_idProsjektKategorier}" required="true" requiredMessage="#{bundle.CreateProsjektKategorierRequiredMessage_idProsjektKategorier}"/>
                    <h:outputLabel value="#{bundle.CreateProsjektKategorierLabel_kategoriNavn}" for="kategoriNavn" />
                    <h:inputText id="kategoriNavn" value="#{prosjektKategorierController.selected.kategoriNavn}" title="#{bundle.CreateProsjektKategorierTitle_kategoriNavn}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{prosjektKategorierController.create}" value="#{bundle.CreateProsjektKategorierSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{prosjektKategorierController.prepareList}" value="#{bundle.CreateProsjektKategorierShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProsjektKategorierIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
