<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProsjektKategorierTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProsjektKategorierEmpty}" rendered="#{prosjektKategorierController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{prosjektKategorierController.items.rowCount > 0}">
                    <h:outputText value="#{prosjektKategorierController.pagination.pageFirstItem + 1}..#{prosjektKategorierController.pagination.pageLastItem + 1}/#{prosjektKategorierController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{prosjektKategorierController.previous}" value="#{bundle.Previous} #{prosjektKategorierController.pagination.pageSize}" rendered="#{prosjektKategorierController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{prosjektKategorierController.next}" value="#{bundle.Next} #{prosjektKategorierController.pagination.pageSize}" rendered="#{prosjektKategorierController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{prosjektKategorierController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProsjektKategorierTitle_idProsjektKategorier}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProsjektKategorier}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProsjektKategorierTitle_kategoriNavn}"/>
                            </f:facet>
                            <h:outputText value="#{item.kategoriNavn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{prosjektKategorierController.prepareView}" value="#{bundle.ListProsjektKategorierViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{prosjektKategorierController.prepareEdit}" value="#{bundle.ListProsjektKategorierEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{prosjektKategorierController.destroy}" value="#{bundle.ListProsjektKategorierDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{prosjektKategorierController.prepareCreate}" value="#{bundle.ListProsjektKategorierCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListProsjektKategorierIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
