<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProsjektKategorierTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProsjektKategorierLabel_idProsjektKategorier}"/>
                    <h:outputText value="#{prosjektKategorierController.selected.idProsjektKategorier}" title="#{bundle.ViewProsjektKategorierTitle_idProsjektKategorier}"/>
                    <h:outputText value="#{bundle.ViewProsjektKategorierLabel_kategoriNavn}"/>
                    <h:outputText value="#{prosjektKategorierController.selected.kategoriNavn}" title="#{bundle.ViewProsjektKategorierTitle_kategoriNavn}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{prosjektKategorierController.destroyAndView}" value="#{bundle.ViewProsjektKategorierDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProsjektKategorierEditLink}"/>
                <br />
                <h:commandLink action="#{prosjektKategorierController.prepareCreate}" value="#{bundle.ViewProsjektKategorierCreateLink}" />
                <br />
                <h:commandLink action="#{prosjektKategorierController.prepareList}" value="#{bundle.ViewProsjektKategorierShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProsjektKategorierIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
