<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form >
                <header>
                    <h2>
                        <h:outputText value="#{firmaController.selected.firmanavn} #{firmaController.selected.firmanavn}"></h:outputText>
                    </h2>
                </header>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.FirmaLabel_firmanavn}" for="firmanavn" />
                    <h:inputText id="firmanavn" value="#{firmaController.selected.firmanavn}" title="#{bundle.FirmaTitle_firmanavn}" />
                    <h:outputLabel value="#{bundle.FirmaLabel_tlf}" for="tlf" />
                    <h:inputText id="tlf" value="#{firmaController.selected.tlf}" title="#{bundle.FirmaTitle_tlf}" />
                    <h:outputLabel value="#{bundle.FirmaLabel_epost}" for="epost" />
                    <h:inputText id="epost" value="#{firmaController.selected.epost}" title="#{bundle.FirmaTitle_epost}" />
                    <h:outputLabel value="#{bundle.FirmaLabel_besoksadresse}" for="adresse" />
                    <h:inputText disabled="true" value="" title="" />
                    <h:outputLabel value="#{bundle.AdresseLabel_adr1}" for="adr1" />
                    <h:inputText id="adr1" value="#{firmaController.selected.adresse.adr1}" title="#{bundle.AdresseTitle_adr1}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_adr2}" for="adr2" />
                    <h:inputText id="adr2" value="#{firmaController.selected.adresse.adr2}" title="#{bundle.AdresseTitle_adr2}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_adr3}" for="adr3" />
                    <h:inputText id="adr3" value="#{firmaController.selected.adresse.adr3}" title="#{bundle.AdresseTitle_adr3}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_postNr}" for="postNr" />
                    <h:inputText id="postNr" value="#{firmaController.selected.adresse.postNr}" title="#{bundle.AdresseTitle_postNr}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_postSted}" for="postSted" />
                    <h:inputText id="postSted" value="#{firmaController.selected.adresse.postSted}" title="#{bundle.AdresseTitle_postSted}" />
                    
                </h:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 update=":firmaList:firmaForm"
                                 id="submitButtonFirma"                                
                                 action="#{firmaController.create}"
                                 oncomplete="createFirmaDlg.hide();"
                                 />
            </h:form>
        </h:panelGroup>
    </h:body>
</html>
