<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.FirmaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.FirmaLabel_idFirma}" for="idFirma" />
                    <h:inputText id="idFirma" value="#{firmaController.selected.idFirma}" title="#{bundle.FirmaTitle_idFirma}" required="true" requiredMessage="#{bundle.CreateFirmaRequiredMessage_idFirma}"/>
                    <h:outputLabel value="#{bundle.FirmaLabel_firmanavn}" for="firmanavn" />
                    <h:inputText id="firmanavn" value="#{firmaController.selected.firmanavn}" title="#{bundle.FirmaTitle_firmanavn}" />
                    <h:outputLabel value="#{bundle.FirmaLabel_tlf}" for="tlf" />
                    <h:inputText id="tlf" value="#{firmaController.selected.tlf}" title="#{bundle.FirmaTitle_tlf}" />
                    <h:outputLabel value="#{bundle.FirmaLabel_epost}" for="epost" />
                    <h:inputText id="epost" value="#{firmaController.selected.epost}" title="#{bundle.FirmaTitle_epost}" />
                    <h:outputLabel value="#{bundle.FirmaLabel_besoksadresse}" for="adresse" />
                    <h:selectOneMenu id="adresse" value="#{firmaController.selected.adresse}" title="#{bundle.FirmaTitle_besoksadresse}" >
                        <f:selectItems value="#{adresseController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{firmaController.create}" value="#{bundle.SaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{firmaController.prepareList}" value="#{bundle.FirmaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.IndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
