<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.BrukereTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <ui:include src="table.xhtml"></ui:include>
        </ui:define>
    </ui:composition>

</html>
