<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >

    <ui:composition>
        <h:panelGroup id="firmaList" styleClass="flere_tabeller"  layout="block">
            <h:form id="firmaForm">
                <header><h2>Firma</h2></header> <!-- TODO Flytt denne teksten inn i properties -->
                <h:outputText escape="false" value="#{bundle.ListFirmaEmpty}" rendered="#{firmaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{firmaController.items.rowCount > 0}">

                    <p:dataTable value="#{firmaController.items}" 
                                 var="firmaItem" 
                                 paginator="true"
                                 rows="10">
                        >
                        <p:column headerText="#{bundle.FirmaTitle_idFirma}" sortBy="#{firmaItem.idFirma}">
                            <h:outputText value="#{firmaItem.idFirma}"/>
                        </p:column>
                        <p:column headerText="#{bundle.FirmaTitle_firmanavn}" sortBy="#{firmaItem.firmanavn}">
                            <h:outputText value="#{firmaItem.firmanavn}"/>
                        </p:column>
                        <p:column headerText="#{bundle.FirmaTitle_tlf}" sortBy="#{firmaItem.tlf}">
                            <h:outputText value="#{firmaItem.tlf}"/>
                        </p:column>
                        <p:column headerText="#{bundle.FirmaTitle_epost}" sortBy="#{firmaItem.epost}">
                            <h:outputText value="#{firmaItem.epost}"/>
                        </p:column>
                        <p:column headerText="#{bundle.FirmaTitle_besoksadresse}" sortBy="#{firmaItem.adresse}">
                            <h:outputText value="#{firmaItem.adresse}"/>
                        </p:column>
                        <p:column headerText=" ">
                            <p:splitButton actionListener="#{firmaController.prepareEditDialog(firmaItem)}"
                                           ajax="true"
                                           id="basic" 
                                           value="#{bundle.EditLink}" 
                                           oncomplete="editFirmaDlg.show();"
                                           icon="ui-icon-wrench"
                                           >
                                <p:menuitem actionListener="#{firmaController.destroy()}" 
                                            value="#{bundle.DestroyLink}"
                                            update=":firmaForm"
                                            icon="ui-icon-minusthick"
                                            />
                            </p:splitButton>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton label="Legg til nytt Firma" 
                                     icon="ui-icon-plusthick"
                                     action="#{firmaController.prepareCreate}"
                                     oncomplete="createFirmaDlg.show();"
                                     title="Legg til en nytt firma"
                                     />
                </h:panelGroup>       
            </h:form>
            <p:dialog id="dialogAddFirma" header="Legg til nytt firma" widgetVar="createFirmaDlg" dynamic="true" modal="true" resizable="true">
                <ui:include src="CreateFirma.xhtml" /> 
            </p:dialog>
            <p:dialog id="dialogEditFirma" header="Rediger firma" widgetVar="editFirmaDlg" dynamic="true" modal="true" resizable="true">
                <ui:include src="EditFirma.xhtml" /> 
            </p:dialog> 
        </h:panelGroup>
    </ui:composition>
</html>
