<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.FirmaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.FirmaLabel_idFirma}"/>
                    <h:outputText value="#{firmaController.selected.idFirma}" title="#{bundle.FirmaTitle_idFirma}"/>
                    <h:outputText value="#{bundle.FirmaLabel_firmanavn}"/>
                    <h:outputText value="#{firmaController.selected.firmanavn}" title="#{bundle.FirmaTitle_firmanavn}"/>
                    <h:outputText value="#{bundle.FirmaLabel_tlf}"/>
                    <h:outputText value="#{firmaController.selected.tlf}" title="#{bundle.FirmaTitle_tlf}"/>
                    <h:outputText value="#{bundle.FirmaLabel_epost}"/>
                    <h:outputText value="#{firmaController.selected.epost}" title="#{bundle.FirmaTitle_epost}"/>
                    <h:outputText value="#{bundle.FirmaLabel_besoksadresse}"/>
                    <h:outputText value="#{firmaController.selected.adresse}" title="#{bundle.FirmaTitle_besoksadresse}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{firmaController.destroyAndView}" value="#{bundle.DestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.EditLink}"/>
                <br />
                <h:commandLink action="#{firmaController.prepareCreate}" value="#{bundle.CreateLink}" />
                <br />
                <h:commandLink action="#{firmaController.prepareList}" value="#{bundle.FirmaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.IndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
