<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form>
                <p:panelGrid columns="2">
                   
                    <h:outputLabel value="#{bundle.DoererLabel_dorNr}" for="dorNr" />
                    <h:inputText validatorMessage="1"  id="dorNr" value="#{doererController.selected.dorNr}" title="#{bundle.DoererTitle_dorNr}" required="true" requiredMessage="#{bundle.DoererRequiredMessage_dorNr}"/>
                    <h:outputLabel value="#{bundle.DoererLabel_id}" for="id" />
                    <h:inputText validatorMessage="1"   id="id" value="#{doererController.selected.id}" title="#{bundle.DoererTitle_id}" />
                    
                    <h:outputLabel value="#{bundle.DoererLabel_bygning}" for="bygning" />
                    <h:inputText validatorMessage="1"  id="bygning" value="#{doererController.selected.bygning}" title="#{bundle.DoererTitle_bygning}" />
                    <h:outputLabel value="#{bundle.DoererLabel_etasje}" for="etasje" />
                    <h:inputText validatorMessage="1"  id="etasje" value="#{doererController.selected.etasje}" title="#{bundle.DoererTitle_etasje}" />
                    <h:outputLabel value="#{bundle.DoererLabel_romtype}" for="romtype" />
                    <h:inputText validatorMessage="1"  id="romtype" value="#{doererController.selected.romtype}" title="#{bundle.DoererTitle_romtype}" />
                    
                    <h:outputLabel value="#{bundle.DoererLabel_doertype}" for="doertype" />
                    <h:inputText validatorMessage="1"  id="doertype" value="#{doererController.selected.doertype}" title="#{bundle.DoererTitle_doertype}" />
                    <h:outputLabel value="#{bundle.DoererLabel_doerKonstruksjon1}" for="doerKonstruksjon1" />
                    <h:inputText validatorMessage="1"  id="doerKonstruksjon1" value="#{doererController.selected.doerKonstruksjon1}" title="#{bundle.DoererTitle_doerKonstruksjon1}" />
                    <h:outputLabel value="#{bundle.DoererLabel_doerKonstruksjon2}" for="doerKonstruksjon2" />
                    <h:inputText validatorMessage="1"  id="doerKonstruksjon2" value="#{doererController.selected.doerKonstruksjon2}" title="#{bundle.DoererTitle_doerKonstruksjon2}" />
                    <h:outputLabel value="#{bundle.DoererLabel_format}" for="format" />
                    <h:inputText validatorMessage="1"  id="format" value="#{doererController.selected.format}" title="#{bundle.DoererTitle_format}" />
                    <h:outputLabel value="#{bundle.DoererLabel_slagretning}" for="slagretning" />
                    <h:inputText validatorMessage="1"  id="slagretning" value="#{doererController.selected.slagretning}" title="#{bundle.DoererTitle_slagretning}" />
                    <h:outputLabel value="#{bundle.DoererLabel_glassapning}" for="glassapning" />
                    <h:inputText validatorMessage="1"  id="glassapning" value="#{doererController.selected.glassapning}" title="#{bundle.DoererTitle_glassapning}" />
                    <h:outputLabel value="#{bundle.DoererLabel_floy}" for="floy" />
                    <h:inputText validatorMessage="1"  id="floy" value="#{doererController.selected.floy}" title="#{bundle.DoererTitle_floy}" />
                    <h:outputLabel value="#{bundle.DoererLabel_overflatedoer}" for="overflatedoer" />
                    <h:inputText validatorMessage="1"  id="overflatedoer" value="#{doererController.selected.overflatedoer}" title="#{bundle.DoererTitle_overflatedoer}" />
                    <h:outputLabel value="#{bundle.DoererLabel_karm}" for="karm" />
                    <h:inputText validatorMessage="1"  id="karm" value="#{doererController.selected.karm}" title="#{bundle.DoererTitle_karm}" />
                    <h:outputLabel value="#{bundle.DoererLabel_overflatekarm}" for="overflatekarm" />
                    <h:inputText validatorMessage="1"  id="overflatekarm" value="#{doererController.selected.overflatekarm}" title="#{bundle.DoererTitle_overflatekarm}" />
                    <h:outputLabel value="#{bundle.DoererLabel_terskel}" for="terskel" />
                    <h:inputText validatorMessage="1"  id="terskel" value="#{doererController.selected.terskel}" title="#{bundle.DoererTitle_terskel}" />
                    
                    <h:outputLabel value="#{bundle.DoererLabel_ferdig}" for="ferdig" />
                    <p:selectBooleanCheckbox id="ferdig" value="#{doererController.selected.ferdig}" />
                    
                    <h:outputLabel value="#{bundle.DoererLabel_utforing}" for="utforing" />
                    <h:inputText validatorMessage="1"  id="utforing" value="#{doererController.selected.utforing}" title="#{bundle.DoererTitle_utforing}" />
                    <h:outputLabel value="#{bundle.DoererLabel_dytting}" for="dytting" />
                    <h:inputText validatorMessage="1"  id="dytting" value="#{doererController.selected.dytting}" title="#{bundle.DoererTitle_dytting}" />
                    <h:outputLabel value="#{bundle.DoererLabel_fuging}" for="fuging" />
                    <h:inputText validatorMessage="1"  id="fuging" value="#{doererController.selected.fuging}" title="#{bundle.DoererTitle_fuging}" />
                    <h:outputLabel value="#{bundle.DoererLabel_listverk}" for="listverk" />
                    <h:inputText validatorMessage="1"  id="listverk" value="#{doererController.selected.listverk}" title="#{bundle.DoererTitle_listverk}" />
                    <h:outputLabel value="#{bundle.DoererLabel_merknad}" for="merknad" />
                    <p:inputTextarea rows="4" cols="30" id="merknad" value="#{doererController.selected.merknad}" title="#{bundle.DoererTitle_merknad}" />

                    <h:outputLabel value="#{bundle.DoererLabel_revisjon}" for="revisjon" />
                    <h:inputText validatorMessage="1"  id="revisjon" value="#{doererController.selected.revisjon}" title="#{bundle.DoererTitle_revisjon}" />


                    <h:outputLabel value="#{bundle.DoererLabel_prosjektIDfk}" for="prosjektIDfk" />
                    <h:selectOneMenu id="prosjektIDfk" 
                                     value="#{doererController.selected.prosjektIDfk}" 
                                     title="#{bundle.DoererTitle_prosjektIDfk}" >
                        <f:selectItems value="#{prosjekterController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </p:panelGrid>
                <br />
                
                <p:commandButton value="#{bundle.SaveLink}"
                                 update=":doorPanelForm, :dorereForm:tbl, :body"
                                 id="saveDoerButton"                                
                                 action="#{prosjekterController.updateDialog}"
                                 oncomplete="editDoererDlg.hide();"
                                 />
            </h:form>

        </h:panelGroup>
    </h:body>
</html>
