<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDoererTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    
                    <h:outputLabel value="#{bundle.CreateDoererLabel_dorNr}" for="dorNr" />
                    <h:inputText id="dorNr" value="#{doererController.selected.dorNr}" title="#{bundle.CreateDoererTitle_dorNr}" required="true" requiredMessage="#{bundle.CreateDoererRequiredMessage_dorNr}"/>
                    <h:outputLabel value="#{bundle.CreateDoererLabel_bygning}" for="bygning" />
                    <h:inputText id="bygning" value="#{doererController.selected.bygning}" title="#{bundle.CreateDoererTitle_bygning}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_etasje}" for="etasje" />
                    <h:inputText id="etasje" value="#{doererController.selected.etasje}" title="#{bundle.CreateDoererTitle_etasje}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_romtype}" for="romtype" />
                    <h:inputText id="romtype" value="#{doererController.selected.romtype}" title="#{bundle.CreateDoererTitle_romtype}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_id}" for="id" />
                    <h:inputText id="id" value="#{doererController.selected.id}" title="#{bundle.CreateDoererTitle_id}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_doertype}" for="doertype" />
                    <h:inputText id="doertype" value="#{doererController.selected.doertype}" title="#{bundle.CreateDoererTitle_doertype}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_doerKonstruksjon1}" for="doerKonstruksjon1" />
                    <h:inputText id="doerKonstruksjon1" value="#{doererController.selected.doerKonstruksjon1}" title="#{bundle.CreateDoererTitle_doerKonstruksjon1}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_doerKonstruksjon2}" for="doerKonstruksjon2" />
                    <h:inputText id="doerKonstruksjon2" value="#{doererController.selected.doerKonstruksjon2}" title="#{bundle.CreateDoererTitle_doerKonstruksjon2}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_format}" for="format" />
                    <h:inputText id="format" value="#{doererController.selected.format}" title="#{bundle.CreateDoererTitle_format}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_slagretning}" for="slagretning" />
                    <h:inputText id="slagretning" value="#{doererController.selected.slagretning}" title="#{bundle.CreateDoererTitle_slagretning}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_glassapning}" for="glassapning" />
                    <h:inputText id="glassapning" value="#{doererController.selected.glassapning}" title="#{bundle.CreateDoererTitle_glassapning}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_floy}" for="floy" />
                    <h:inputText id="floy" value="#{doererController.selected.floy}" title="#{bundle.CreateDoererTitle_floy}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_overflatedoer}" for="overflatedoer" />
                    <h:inputText id="overflatedoer" value="#{doererController.selected.overflatedoer}" title="#{bundle.CreateDoererTitle_overflatedoer}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_karm}" for="karm" />
                    <h:inputText id="karm" value="#{doererController.selected.karm}" title="#{bundle.CreateDoererTitle_karm}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_overflatekarm}" for="overflatekarm" />
                    <h:inputText id="overflatekarm" value="#{doererController.selected.overflatekarm}" title="#{bundle.CreateDoererTitle_overflatekarm}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_terskel}" for="terskel" />
                    <h:inputText id="terskel" value="#{doererController.selected.terskel}" title="#{bundle.CreateDoererTitle_terskel}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_ferdig}" for="ferdig" />
                    <h:inputText id="ferdig" value="#{doererController.selected.ferdig}" title="#{bundle.CreateDoererTitle_ferdig}" />
                    <h:outputLabel value="#{bundle.CreateDoererLabel_prosjektIDfk}" for="prosjektIDfk" />
                    <h:selectOneMenu id="prosjektIDfk" value="#{doererController.selected.prosjektIDfk}" title="#{bundle.CreateDoererTitle_prosjektIDfk}" required="true" requiredMessage="#{bundle.CreateDoererRequiredMessage_prosjektIDfk}">
                        <f:selectItems value="#{prosjekterController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{doererController.create}" value="#{bundle.CreateDoererSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{doererController.prepareList}" value="#{bundle.CreateDoererShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDoererIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
