<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.DoererTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.DoererLabel_IDDor}" for="IDDor" />
                    <h:inputText id="IDDor" value="#{doererController.selected.IDDor}" title="#{bundle.DoererTitle_IDDor}" required="true" requiredMessage="#{bundle.DoererRequiredMessage_IDDor}"/>
                    <h:outputLabel value="#{bundle.DoererLabel_dorNr}" for="dorNr" />
                    <h:inputText id="dorNr" value="#{doererController.selected.dorNr}" title="#{bundle.DoererTitle_dorNr}" required="true" requiredMessage="#{bundle.DoererRequiredMessage_dorNr}"/>
                    <h:outputLabel value="#{bundle.DoererLabel_bygning}" for="bygning" />
                    <h:inputText id="bygning" value="#{doererController.selected.bygning}" title="#{bundle.DoererTitle_bygning}" />
                    <h:outputLabel value="#{bundle.DoererLabel_etasje}" for="etasje" />
                    <h:inputText id="etasje" value="#{doererController.selected.etasje}" title="#{bundle.DoererTitle_etasje}" />
                    <h:outputLabel value="#{bundle.DoererLabel_romtype}" for="romtype" />
                    <h:inputText id="romtype" value="#{doererController.selected.romtype}" title="#{bundle.DoererTitle_romtype}" />
                    <h:outputLabel value="#{bundle.DoererLabel_id}" for="id" />
                    <h:inputText id="id" value="#{doererController.selected.id}" title="#{bundle.DoererTitle_id}" />
                    <h:outputLabel value="#{bundle.DoererLabel_doertype}" for="doertype" />
                    <h:inputText id="doertype" value="#{doererController.selected.doertype}" title="#{bundle.DoererTitle_doertype}" />
                    <h:outputLabel value="#{bundle.DoererLabel_doerKonstruksjon1}" for="doerKonstruksjon1" />
                    <h:inputText id="doerKonstruksjon1" value="#{doererController.selected.doerKonstruksjon1}" title="#{bundle.DoererTitle_doerKonstruksjon1}" />
                    <h:outputLabel value="#{bundle.DoererLabel_doerKonstruksjon2}" for="doerKonstruksjon2" />
                    <h:inputText id="doerKonstruksjon2" value="#{doererController.selected.doerKonstruksjon2}" title="#{bundle.DoererTitle_doerKonstruksjon2}" />
                    <h:outputLabel value="#{bundle.DoererLabel_format}" for="format" />
                    <h:inputText id="format" value="#{doererController.selected.format}" title="#{bundle.DoererTitle_format}" />
                    <h:outputLabel value="#{bundle.DoererLabel_slagretning}" for="slagretning" />
                    <h:inputText id="slagretning" value="#{doererController.selected.slagretning}" title="#{bundle.DoererTitle_slagretning}" />
                    <h:outputLabel value="#{bundle.DoererLabel_glassapning}" for="glassapning" />
                    <h:inputText id="glassapning" value="#{doererController.selected.glassapning}" title="#{bundle.DoererTitle_glassapning}" />
                    <h:outputLabel value="#{bundle.DoererLabel_floy}" for="floy" />
                    <h:inputText id="floy" value="#{doererController.selected.floy}" title="#{bundle.DoererTitle_floy}" />
                    <h:outputLabel value="#{bundle.DoererLabel_overflatedoer}" for="overflatedoer" />
                    <h:inputText id="overflatedoer" value="#{doererController.selected.overflatedoer}" title="#{bundle.DoererTitle_overflatedoer}" />
                    <h:outputLabel value="#{bundle.DoererLabel_karm}" for="karm" />
                    <h:inputText id="karm" value="#{doererController.selected.karm}" title="#{bundle.DoererTitle_karm}" />
                    <h:outputLabel value="#{bundle.DoererLabel_overflatekarm}" for="overflatekarm" />
                    <h:inputText id="overflatekarm" value="#{doererController.selected.overflatekarm}" title="#{bundle.DoererTitle_overflatekarm}" />
                    <h:outputLabel value="#{bundle.DoererLabel_terskel}" for="terskel" />
                    <h:inputText id="terskel" value="#{doererController.selected.terskel}" title="#{bundle.DoererTitle_terskel}" />
                    <h:outputLabel value="#{bundle.DoererLabel_sistendret}" for="sistendret" />
                    <h:inputText id="sistendret" value="#{doererController.selected.sistendret}" title="#{bundle.DoererTitle_sistendret}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.DoererLabel_ferdig}" for="ferdig" />
                    <h:inputText id="ferdig" value="#{doererController.selected.ferdig}" title="#{bundle.DoererTitle_ferdig}" />
                    <h:outputLabel value="#{bundle.DoererLabel_prosjektIDfk}" for="prosjektIDfk" />
                    <h:selectOneMenu id="prosjektIDfk" value="#{doererController.selected.prosjektIDfk}" title="#{bundle.DoererTitle_prosjektIDfk}" required="true" requiredMessage="#{bundle.DoererRequiredMessage_prosjektIDfk}">
                        <f:selectItems value="#{prosjekterController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{doererController.update}" value="#{bundle.SaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.ViewLink}"/>
                <br />
                <h:commandLink action="#{doererController.prepareList}" value="#{bundle.DoererShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.IndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
