<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition >
<h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDoererEmpty}" rendered="#{doererController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{doererController.items.rowCount > 0}">
                    <h:outputText value="#{doererController.pagination.pageFirstItem + 1}..#{doererController.pagination.pageLastItem + 1}/#{doererController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{doererController.previous}" value="#{bundle.Previous} #{doererController.pagination.pageSize}" rendered="#{doererController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{doererController.next}" value="#{bundle.Next} #{doererController.pagination.pageSize}" rendered="#{doererController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{doererController.items}" var="doererItem" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_IDDor}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.IDDor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_dorNr}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.dorNr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_bygning}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.bygning}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_etasje}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.etasje}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_romtype}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.romtype}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_doertype}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.doertype}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_doerKonstruksjon1}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.doerKonstruksjon1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_doerKonstruksjon2}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.doerKonstruksjon2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_format}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.format}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_slagretning}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.slagretning}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_glassapning}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.glassapning}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_floy}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.floy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_overflatedoer}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.overflatedoer}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_karm}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.karm}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_overflatekarm}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.overflatekarm}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_terskel}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.terskel}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_sistendret}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.sistendret}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_ferdig}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.ferdig}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDoererTitle_prosjektIDfk}" title="#{bundle.ListDoererTitle_prosjektIDfk[name]}"/>
                            </f:facet>
                            <h:outputText value="#{doererItem.prosjektIDfk}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{doererController.prepareView}" value="#{bundle.ListDoererViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{doererController.prepareEdit}" value="#{bundle.ListDoererEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{doererController.destroy}" value="#{bundle.ListDoererDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{doererController.prepareCreate}" value="#{bundle.ListDoererCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDoererIndexLink}"/>
            </h:form>
    </ui:composition>

</html>
