<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDoererTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDoererLabel_IDDor}"/>
                    <h:outputText value="#{doererController.selected.IDDor}" title="#{bundle.ViewDoererTitle_IDDor}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_dorNr}"/>
                    <h:outputText value="#{doererController.selected.dorNr}" title="#{bundle.ViewDoererTitle_dorNr}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_bygning}"/>
                    <h:outputText value="#{doererController.selected.bygning}" title="#{bundle.ViewDoererTitle_bygning}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_etasje}"/>
                    <h:outputText value="#{doererController.selected.etasje}" title="#{bundle.ViewDoererTitle_etasje}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_romtype}"/>
                    <h:outputText value="#{doererController.selected.romtype}" title="#{bundle.ViewDoererTitle_romtype}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_id}"/>
                    <h:outputText value="#{doererController.selected.id}" title="#{bundle.ViewDoererTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_doertype}"/>
                    <h:outputText value="#{doererController.selected.doertype}" title="#{bundle.ViewDoererTitle_doertype}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_doerKonstruksjon1}"/>
                    <h:outputText value="#{doererController.selected.doerKonstruksjon1}" title="#{bundle.ViewDoererTitle_doerKonstruksjon1}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_doerKonstruksjon2}"/>
                    <h:outputText value="#{doererController.selected.doerKonstruksjon2}" title="#{bundle.ViewDoererTitle_doerKonstruksjon2}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_format}"/>
                    <h:outputText value="#{doererController.selected.format}" title="#{bundle.ViewDoererTitle_format}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_slagretning}"/>
                    <h:outputText value="#{doererController.selected.slagretning}" title="#{bundle.ViewDoererTitle_slagretning}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_glassapning}"/>
                    <h:outputText value="#{doererController.selected.glassapning}" title="#{bundle.ViewDoererTitle_glassapning}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_floy}"/>
                    <h:outputText value="#{doererController.selected.floy}" title="#{bundle.ViewDoererTitle_floy}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_overflatedoer}"/>
                    <h:outputText value="#{doererController.selected.overflatedoer}" title="#{bundle.ViewDoererTitle_overflatedoer}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_karm}"/>
                    <h:outputText value="#{doererController.selected.karm}" title="#{bundle.ViewDoererTitle_karm}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_overflatekarm}"/>
                    <h:outputText value="#{doererController.selected.overflatekarm}" title="#{bundle.ViewDoererTitle_overflatekarm}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_terskel}"/>
                    <h:outputText value="#{doererController.selected.terskel}" title="#{bundle.ViewDoererTitle_terskel}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_sistendret}"/>
                    <h:outputText value="#{doererController.selected.sistendret}" title="#{bundle.ViewDoererTitle_sistendret}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDoererLabel_ferdig}"/>
                    <h:outputText value="#{doererController.selected.ferdig}" title="#{bundle.ViewDoererTitle_ferdig}"/>
                    <h:outputText value="#{bundle.ViewDoererLabel_prosjektIDfk}"/>
                    <h:outputText value="#{doererController.selected.prosjektIDfk}" title="#{bundle.ViewDoererTitle_prosjektIDfk}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{doererController.destroyAndView}" value="#{bundle.ViewDoererDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDoererEditLink}"/>
                <br />
                <h:commandLink action="#{doererController.prepareCreate}" value="#{bundle.ViewDoererCreateLink}" />
                <br />
                <h:commandLink action="#{doererController.prepareList}" value="#{bundle.ViewDoererShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDoererIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
