<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body>
        <ui:composition>
            <h:panelGroup id="hovedMeny" layout="block">
                <ul>
                    <li><p:commandLink id="prosjektDialog" value="#{bundle.meny1}" onclick="velgProsjektDialog.show();"  /></li>
                    <li><h:link outcome="/prosjekter/Nytt" value="#{bundle.meny2}"/></li>
                    <li><h:link outcome="/brukere/List" value="#{bundle.meny3}"/></li>
                    <li><h:link outcome="/kontaktPersoner/List" value="#{bundle.meny4}"/></li>
                    <li><h:link outcome="/firma/List" value="#{bundle.meny5}"/></li>
                </ul>
            </h:panelGroup>

            <p:dialog id="velgProsjekt" styleClass="dialog" width="800" header="Velg prosjekt" widgetVar="velgProsjektDialog" dynamic="true" modal="true" resizable="true">
                <ui:include src="/prosjekter/ChooseProsjekterDialog.xhtml" /> 
            </p:dialog>

        </ui:composition>
    </body>
</html>
