<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTegningerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTegningerLabel_idTegninger}" for="idTegninger" />
                    <h:inputText id="idTegninger" value="#{tegningerController.selected.idTegninger}" title="#{bundle.CreateTegningerTitle_idTegninger}" required="true" requiredMessage="#{bundle.CreateTegningerRequiredMessage_idTegninger}"/>
                    <h:outputLabel value="#{bundle.CreateTegningerLabel_tegning}" for="tegning" />
                    <h:inputTextarea rows="4" cols="30" id="tegning" value="#{tegningerController.selected.tegning}" title="#{bundle.CreateTegningerTitle_tegning}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tegningerController.create}" value="#{bundle.CreateTegningerSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{tegningerController.prepareList}" value="#{bundle.CreateTegningerShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTegningerIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
