<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTegningerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTegningerLabel_idTegninger}" for="idTegninger" />
                    <h:inputText id="idTegninger" value="#{tegningerController.selected.idTegninger}" title="#{bundle.EditTegningerTitle_idTegninger}" required="true" requiredMessage="#{bundle.EditTegningerRequiredMessage_idTegninger}"/>
                    <h:outputLabel value="#{bundle.EditTegningerLabel_tegning}" for="tegning" />
                    <h:inputTextarea rows="4" cols="30" id="tegning" value="#{tegningerController.selected.tegning}" title="#{bundle.EditTegningerTitle_tegning}" />
                </h:panelGrid>
                <h:commandLink action="#{tegningerController.update}" value="#{bundle.EditTegningerSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTegningerViewLink}"/>
                <br />
                <h:commandLink action="#{tegningerController.prepareList}" value="#{bundle.EditTegningerShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTegningerIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
