<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTegningerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTegningerEmpty}" rendered="#{tegningerController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tegningerController.items.rowCount > 0}">
                    <h:outputText value="#{tegningerController.pagination.pageFirstItem + 1}..#{tegningerController.pagination.pageLastItem + 1}/#{tegningerController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tegningerController.previous}" value="#{bundle.Previous} #{tegningerController.pagination.pageSize}" rendered="#{tegningerController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tegningerController.next}" value="#{bundle.Next} #{tegningerController.pagination.pageSize}" rendered="#{tegningerController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tegningerController.items}" var="tegningItem" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTegningerTitle_idTegninger}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.idTegninger}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTegningerTitle_tegning}"/>
                            </f:facet>
                            <h:outputText value="#{prosjektItem.tegning}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tegningerController.prepareView}" value="#{bundle.ListTegningerViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tegningerController.prepareEdit}" value="#{bundle.ListTegningerEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tegningerController.destroy}" value="#{bundle.ListTegningerDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tegningerController.prepareCreate}" value="#{bundle.ListTegningerCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTegningerIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
