<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTegningerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTegningerLabel_idTegninger}"/>
                    <h:outputText value="#{tegningerController.selected.idTegninger}" title="#{bundle.ViewTegningerTitle_idTegninger}"/>
                    <h:outputText value="#{bundle.ViewTegningerLabel_tegning}"/>
                    <h:outputText value="#{tegningerController.selected.tegning}" title="#{bundle.ViewTegningerTitle_tegning}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tegningerController.destroyAndView}" value="#{bundle.ViewTegningerDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTegningerEditLink}"/>
                <br />
                <h:commandLink action="#{tegningerController.prepareCreate}" value="#{bundle.ViewTegningerCreateLink}" />
                <br />
                <h:commandLink action="#{tegningerController.prepareList}" value="#{bundle.ViewTegningerShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTegningerIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
