<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditKategorierTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditKategorierLabel_idKategori}" for="idKategori" />
                    <h:inputText id="idKategori" value="#{kategorierController.selected.idKategori}" title="#{bundle.EditKategorierTitle_idKategori}" required="true" requiredMessage="#{bundle.EditKategorierRequiredMessage_idKategori}"/>
                    <h:outputLabel value="#{bundle.EditKategorierLabel_navn}" for="navn" />
                    <h:inputText id="navn" value="#{kategorierController.selected.navn}" title="#{bundle.EditKategorierTitle_navn}" />
                </h:panelGrid>
                <h:commandLink action="#{kategorierController.update}" value="#{bundle.EditKategorierSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditKategorierViewLink}"/>
                <br />
                <h:commandLink action="#{kategorierController.prepareList}" value="#{bundle.EditKategorierShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditKategorierIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
