<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListKategorierTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListKategorierEmpty}" rendered="#{kategorierController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{kategorierController.items.rowCount > 0}">
                    <h:outputText value="#{kategorierController.pagination.pageFirstItem + 1}..#{kategorierController.pagination.pageLastItem + 1}/#{kategorierController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{kategorierController.previous}" value="#{bundle.Previous} #{kategorierController.pagination.pageSize}" rendered="#{kategorierController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{kategorierController.next}" value="#{bundle.Next} #{kategorierController.pagination.pageSize}" rendered="#{kategorierController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{kategorierController.items}" var="beslagKatItem" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKategorierTitle_idKategori}"/>
                            </f:facet>
                            <h:outputText value="#{beslagKatItem.idKategori}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKategorierTitle_navn}"/>
                            </f:facet>
                            <h:outputText value="#{beslagKatItem.navn}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{kategorierController.prepareView}" value="#{bundle.ListKategorierViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{kategorierController.prepareEdit}" value="#{bundle.ListKategorierEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{kategorierController.destroy}" value="#{bundle.ListKategorierDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{kategorierController.prepareCreate}" value="#{bundle.ListKategorierCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListKategorierIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
