<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewKategorierTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewKategorierLabel_idKategori}"/>
                    <h:outputText value="#{kategorierController.selected.idKategori}" title="#{bundle.ViewKategorierTitle_idKategori}"/>
                    <h:outputText value="#{bundle.ViewKategorierLabel_navn}"/>
                    <h:outputText value="#{kategorierController.selected.navn}" title="#{bundle.ViewKategorierTitle_navn}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{kategorierController.destroyAndView}" value="#{bundle.ViewKategorierDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewKategorierEditLink}"/>
                <br />
                <h:commandLink action="#{kategorierController.prepareCreate}" value="#{bundle.ViewKategorierCreateLink}" />
                <br />
                <h:commandLink action="#{kategorierController.prepareList}" value="#{bundle.ViewKategorierShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewKategorierIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
