<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form >
                <header>
                    <h2>
                        <h:outputText value="#{kontaktPersonerController.currentDialog.tittel} #{kontaktPersonerController.currentDialog.navn}"></h:outputText>
                    </h2>
                </header>
                <p:panelGrid columns="2" id="CreateDialog">
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_idAdresse}" for="idAdresse" />
                    <h:inputText id="idAdresse" value="#{adresseController.selected.idAdresse}" title="#{bundle.CreateAdresseTitle_idAdresse}" required="true" requiredMessage="#{bundle.CreateAdresseRequiredMessage_idAdresse}"/>
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_adr1}" for="adr1" />
                    <h:inputText id="adr1" value="#{adresseController.selected.adr1}" title="#{bundle.CreateAdresseTitle_adr1}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_adr2}" for="adr2" />
                    <h:inputText id="adr2" value="#{adresseController.selected.adr2}" title="#{bundle.CreateAdresseTitle_adr2}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_adr3}" for="adr3" />
                    <h:inputText id="adr3" value="#{adresseController.selected.adr3}" title="#{bundle.CreateAdresseTitle_adr3}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_postNr}" for="postNr" />
                    <h:inputText id="postNr" value="#{adresseController.selected.postNr}" title="#{bundle.CreateAdresseTitle_postNr}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_postSted}" for="postSted" />
                    <h:inputText id="postSted" value="#{adresseController.selected.postSted}" title="#{bundle.CreateAdresseTitle_postSted}" />
                </p:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 id="submitButton"                                
                                 actionListener="#{kontaktPersonerController.createDialog}"
                                 action="#{adresseController.createDialog()}"
                                 update=":kontaktForm"
                                 oncomplete="createKontaktPersonDlg.hide()"
                                 />
            </h:form>
        </h:panelGroup>
    </h:body>
</html>
