<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAdresseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAdresseLabel_idAdresse}" for="idAdresse" />
                    <h:inputText id="idAdresse" value="#{adresseController.selected.idAdresse}" title="#{bundle.EditAdresseTitle_idAdresse}" required="true" requiredMessage="#{bundle.EditAdresseRequiredMessage_idAdresse}"/>
                    <h:outputLabel value="#{bundle.EditAdresseLabel_adr1}" for="adr1" />
                    <h:inputText id="adr1" value="#{adresseController.selected.adr1}" title="#{bundle.EditAdresseTitle_adr1}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_adr2}" for="adr2" />
                    <h:inputText id="adr2" value="#{adresseController.selected.adr2}" title="#{bundle.EditAdresseTitle_adr2}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_adr3}" for="adr3" />
                    <h:inputText id="adr3" value="#{adresseController.selected.adr3}" title="#{bundle.EditAdresseTitle_adr3}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_postNr}" for="postNr" />
                    <h:inputText id="postNr" value="#{adresseController.selected.postNr}" title="#{bundle.EditAdresseTitle_postNr}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_postSted}" for="postSted" />
                    <h:inputText id="postSted" value="#{adresseController.selected.postSted}" title="#{bundle.EditAdresseTitle_postSted}" />
                </h:panelGrid>
                <h:commandLink action="#{adresseController.update}" value="#{bundle.EditAdresseSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAdresseViewLink}"/>
                <br />
                <h:commandLink action="#{adresseController.prepareList}" value="#{bundle.EditAdresseShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAdresseIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
