<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAdresseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAdresseEmpty}" rendered="#{adresseController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{adresseController.items.rowCount > 0}">
                    <h:outputText value="#{adresseController.pagination.pageFirstItem + 1}..#{adresseController.pagination.pageLastItem + 1}/#{adresseController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{adresseController.previous}" value="#{bundle.Previous} #{adresseController.pagination.pageSize}" rendered="#{adresseController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{adresseController.next}" value="#{bundle.Next} #{adresseController.pagination.pageSize}" rendered="#{adresseController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{adresseController.items}" var="adresseItem" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdresseTitle_idAdresse}"/>
                            </f:facet>
                            <h:outputText value="#{adresseItem.idAdresse}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdresseTitle_adr1}"/>
                            </f:facet>
                            <h:outputText value="#{adresseItem.adr1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdresseTitle_adr2}"/>
                            </f:facet>
                            <h:outputText value="#{adresseItem.adr2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdresseTitle_adr3}"/>
                            </f:facet>
                            <h:outputText value="#{adresseItem.adr3}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdresseTitle_postNr}"/>
                            </f:facet>
                            <h:outputText value="#{adresseItem.postNr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdresseTitle_postSted}"/>
                            </f:facet>
                            <h:outputText value="#{adresseItem.postSted}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{adresseController.prepareView}" value="#{bundle.ListAdresseViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adresseController.prepareEdit}" value="#{bundle.ListAdresseEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adresseController.destroy}" value="#{bundle.ListAdresseDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{adresseController.prepareCreate}" value="#{bundle.ListAdresseCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAdresseIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
