<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAdresseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAdresseLabel_idAdresse}"/>
                    <h:outputText value="#{adresseController.selected.idAdresse}" title="#{bundle.ViewAdresseTitle_idAdresse}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_adr1}"/>
                    <h:outputText value="#{adresseController.selected.adr1}" title="#{bundle.ViewAdresseTitle_adr1}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_adr2}"/>
                    <h:outputText value="#{adresseController.selected.adr2}" title="#{bundle.ViewAdresseTitle_adr2}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_adr3}"/>
                    <h:outputText value="#{adresseController.selected.adr3}" title="#{bundle.ViewAdresseTitle_adr3}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_postNr}"/>
                    <h:outputText value="#{adresseController.selected.postNr}" title="#{bundle.ViewAdresseTitle_postNr}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_postSted}"/>
                    <h:outputText value="#{adresseController.selected.postSted}" title="#{bundle.ViewAdresseTitle_postSted}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adresseController.destroyAndView}" value="#{bundle.ViewAdresseDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAdresseEditLink}"/>
                <br />
                <h:commandLink action="#{adresseController.prepareCreate}" value="#{bundle.ViewAdresseCreateLink}" />
                <br />
                <h:commandLink action="#{adresseController.prepareList}" value="#{bundle.ViewAdresseShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAdresseIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
