<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form >
                <p:dataTable id="kontaktTable" 
                                     value="#{kontaktPersonerController.items}" 
                                     var="kontaktItem">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerLabel_tittel}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.tittel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_navn}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.navn}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_tlf}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.tlf}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_epost}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.epost}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_firmaid}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.firmaid.firmanavn}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_adresse}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.adresse.adr1}"/>
                                <br />
                                <c:if test="#{kontaktItem.adresse.adr2}">
                                    <h:outputText value="#{kontaktItem.adresse.adr2}"/>
                                    <br />
                                </c:if>
                                <c:if test="#{kontaktItem.adresse.adr3}">
                                    <h:outputText value="#{kontaktItem.adresse.adr3}"/>
                                    <br />
                                </c:if>
                                <h:outputText value="#{kontaktItem.adresse.postNr}"/>
                                <h:outputText value=""/>
                                <h:outputText value="#{kontaktItem.adresse.postSted}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="
                                                  
                                                  "/>
                                </f:facet>

                                <p:commandButton actionListener="#{prosjekterController.addKontaktPerson(kontaktItem)}"
                                               ajax="true"
                                               id="basic"
                                               title="Legg til" 
                                               oncomplete=""
                                               update=":kontaktForm:kontaktTable"
                                               icon="ui-icon-plusthick"
                                               >
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
            </h:form>
        </h:panelGroup>
    </h:body>
</html>