<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.KontaktPersonerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_tittel}" for="tittel" />
                    <h:inputText id="tittel" value="#{kontaktPersonerController.selected.tittel}" title="#{bundle.KontaktPersonerTitle_tittel}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_navn}" for="navn" />
                    <h:inputText id="navn" value="#{kontaktPersonerController.selected.navn}" title="#{bundle.KontaktPersonerTitle_navn}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_tlf}" for="tlf" />
                    <h:inputText id="tlf" value="#{kontaktPersonerController.selected.tlf}" title="#{bundle.KontaktPersonerTitle_tlf}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_epost}" for="epost" />
                    <h:inputText id="epost" value="#{kontaktPersonerController.selected.epost}" title="#{bundle.KontaktPersonerTitle_epost}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_firmaid}" for="firmaid" />
                    <h:selectOneMenu id="firmaid" value="#{kontaktPersonerController.selected.firmaid}" title="#{bundle.KontaktPersonerTitle_firmaid}" >
                        <f:selectItems value="#{firmaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_adresse}" for="adresse" />
                    <h:selectOneMenu id="adresse" value="#{kontaktPersonerController.selected.adresse}" title="#{bundle.KontaktPersonerTitle_adresse}" >
                        <f:selectItems value="#{adresseController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{kontaktPersonerController.create}" value="#{bundle.KontaktPersonerSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{kontaktPersonerController.prepareList}" value="#{bundle.KontaktPersonerShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.KontaktPersonerIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
