<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form >
                <header>
                    <h2>
                        <h:outputText value="#{kontaktPersonerController.currentDialog.tittel} #{kontaktPersonerController.currentDialog.navn}"></h:outputText>
                    </h2>
                </header>
                <p:panelGrid columns="2" id="CreateDialog">
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_tittel}" for="tittel" />
                    <h:inputText id="tittel" value="#{kontaktPersonerController.currentDialog.tittel}" title="#{bundle.KontaktPersonerTitle_tittel}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_navn}" for="navn" />
                    <h:inputText id="navn" value="#{kontaktPersonerController.currentDialog.navn}" title="#{bundle.KontaktPersonerTitle_navn}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_tlf}" for="tlf" />
                    <h:inputText id="tlf" value="#{kontaktPersonerController.currentDialog.tlf}" title="#{bundle.KontaktPersonerTitle_tlf}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_epost}" for="epost" />
                    <h:inputText id="epost" value="#{kontaktPersonerController.currentDialog.epost}" title="#{bundle.KontaktPersonerTitle_epost}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_firmaid}" for="firmaid" />
                    <h:selectOneMenu id="firmaid" value="#{kontaktPersonerController.currentDialog.firmaid}" title="#{bundle.KontaktPersonerTitle_firmaid}" >
                        <f:selectItems value="#{firmaController.itemsAvailableSelectOne}" itemLabel="#{firmaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.AdresseLabel_adr1}" for="adr1" />
                    <h:inputText id="adr1" value="#{kontaktPersonerController.adr1}" title="#{bundle.AdresseTitle_adr1}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_adr2}" for="adr2" />
                    <h:inputText id="adr2" value="#{kontaktPersonerController.adr2}" title="#{bundle.AdresseTitle_adr2}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_adr3}" for="adr3" />
                    <h:inputText id="adr3" value="#{kontaktPersonerController.adr3}" title="#{bundle.AdresseTitle_adr3}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_postNr}" for="postNr" />
                    <h:inputText id="postNr" value="#{kontaktPersonerController.postNr}" title="#{bundle.AdresseTitle_postNr}" />
                    <h:outputLabel value="#{bundle.AdresseLabel_postSted}" for="postSted" />
                    <h:inputText id="postSted" value="#{kontaktPersonerController.postSted}" title="#{bundle.AdresseTitle_postSted}" />  
                </p:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 id="submitButton"                                
                                 actionListener="#{kontaktPersonerController.createDialog}"
                                 update=":kontaktForm"
                                 oncomplete="createKontaktPersonDlg.hide()"
                                 />
                
            </h:form>
        </h:panelGroup>
    </h:body>
</html>
