<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:panelGroup styleClass="dialogForm" layout="block">
            <h:form >
                <header>
                    <h2>
                        <h:outputText value="#{kontaktPersonerController.currentDialog.tittel} #{kontaktPersonerController.currentDialog.navn}"></h:outputText>
                    </h2>
                </header>
                <p:panelGrid columns="2" id="editDialog">
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_tittel}" for="tittel" />
                    <h:inputText id="tittel" value="#{kontaktPersonerController.currentDialog.tittel}" title="#{bundle.KontaktPersonerTitle_tittel}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_navn}" for="navn" />
                    <h:inputText id="navn" value="#{kontaktPersonerController.currentDialog.navn}" title="#{bundle.KontaktPersonerTitle_navn}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_tlf}" for="tlf" />
                    <h:inputText id="tlf" value="#{kontaktPersonerController.currentDialog.tlf}" title="#{bundle.KontaktPersonerTitle_tlf}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_epost}" for="epost" />
                    <h:inputText id="epost" value="#{kontaktPersonerController.currentDialog.epost}" title="#{bundle.KontaktPersonerTitle_epost}" />
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_firmaid}" for="firmaid" />
                    <h:selectOneMenu id="firmaid" value="#{kontaktPersonerController.currentDialog.firmaid}" title="#{bundle.KontaktPersonerTitle_firmaid}" >
                        <f:selectItems value="#{firmaController.itemsAvailableSelectOne}" itemLabel="#{firmaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.KontaktPersonerLabel_adresse}" for="adresse" />
                    <h:selectOneMenu id="adresse" value="#{kontaktPersonerController.currentDialog.adresse}" title="#{bundle.KontaktPersonerTitle_adresse}" >
                        <f:selectItems value="#{adresseController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>

                </p:panelGrid>
                <p:commandButton value="#{bundle.SaveLink}"
                                 update=":kontaktForm:kontaktTable"
                                 id="submitButton"                                
                                 action="#{kontaktPersonerController.updateDialog}"
                                 oncomplete="viewKontaktPersonDlg.hide();"
                                 />
            </h:form>
        </h:panelGroup>
    </h:body>
</html>
