<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    
    
    <ui:composition >
        <h:panelGroup id="kontakterAlle" styleClass="flere_tabeller"  layout="block">
                <h:form id="kontaktForm" >
                    <header><h2>Kontaktpersoner</h2></header> <!-- TODO Flytt denne teksten inn i properties -->
                    <h:outputText escape="false" value="#{bundle.KontaktPersonerEmpty}" rendered="#{kontaktPersonerController.items.rowCount == 0}"/>
                    <h:panelGroup >
                        <p:dataTable id="kontaktTable" 
                                     value="#{kontaktPersonerController.items}" 
                                     var="kontaktItem"
                                     paginator="true"
                                     rows="10">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerLabel_tittel}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.tittel}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_navn}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.navn}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_tlf}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.tlf}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_epost}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.epost}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_firmaid}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.firmaid.firmanavn}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="#{bundle.KontaktPersonerTitle_adresse}"/>
                                </f:facet>
                                <h:outputText value="#{kontaktItem.adresse.adr1}"/>
                                <br />
                                <c:if test="#{kontaktItem.adresse.adr2}">
                                    <h:outputText value="#{kontaktItem.adresse.adr2}"/>
                                    <br />
                                </c:if>
                                <c:if test="#{kontaktItem.adresse.adr3}">
                                    <h:outputText value="#{kontaktItem.adresse.adr3}"/>
                                    <br />
                                </c:if>
                                <h:outputText value="#{kontaktItem.adresse.postNr}"/>
                                <h:outputText value="&nbsp;"/>
                                <h:outputText value="#{kontaktItem.adresse.postSted}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                  "/>
                                </f:facet>

                                <p:splitButton actionListener="#{kontaktPersonerController.prepareEditDialog(kontaktItem)}"
                                               ajax="true"
                                               id="basic" 
                                               value="#{bundle.EditLink}" 
                                               oncomplete="viewKontaktPersonDlg.show();"
                                               icon="ui-icon-wrench"
                                               >
                                    <p:menuitem actionListener="#{prosjekterController.removeFromProject(kontaktItem, prosjekterController.selected)}" 
                                                value="#{bundle.DestroyLink}"
                                                update=":kontaktForm"
                                                icon="ui-icon-minus"
                                                />
                                </p:splitButton>
                            </p:column>
                        </p:dataTable>
                        <p:commandButton label="Legg til ny kontaktperson" 
                                         icon="ui-icon-plusthick"
                                         action="#{kontaktPersonerController.prepareCreateDialog}"
                                         oncomplete="createKontaktPersonDlg.show();"
                                         title="Legg til en ny kontaktperson"
                                         />
                    </h:panelGroup>
                    
                </h:form>

                <p:dialog id="dialogAdd" header="Legg til ny Kontaktperson" widgetVar="createKontaktPersonDlg" dynamic="true" modal="false" resizable="true">
                    <ui:include src="CreateKontaktperson.xhtml" /> 
                </p:dialog>

                <p:dialog id="dialogEdit" header="Rediger Kontaktperson" widgetVar="viewKontaktPersonDlg" dynamic="true" modal="true" resizable="true">
                    <ui:include src="/kontaktPersoner/EditKontaktperson.xhtml" /> 
                </p:dialog> 
            
                
            
            </h:panelGroup>
    </ui:composition>

</html>