<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.KontaktPersonerTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.KontaktPersonerLabel_idPersoner}"/>
                    <h:outputText value="#{kontaktPersonerController.selected.idPersoner}" title="#{bundle.ViewKontaktPersonerTitle_idPersoner}"/>
                    <h:outputText value="#{bundle.KontaktPersonerLabel_tittel}"/>
                    <h:outputText value="#{kontaktPersonerController.selected.tittel}" title="#{bundle.ViewKontaktPersonerTitle_tittel}"/>
                    <h:outputText value="#{bundle.KontaktPersonerLabel_navn}"/>
                    <h:outputText value="#{kontaktPersonerController.selected.navn}" title="#{bundle.ViewKontaktPersonerTitle_navn}"/>
                    <h:outputText value="#{bundle.KontaktPersonerLabel_tlf}"/>
                    <h:outputText value="#{kontaktPersonerController.selected.tlf}" title="#{bundle.ViewKontaktPersonerTitle_tlf}"/>
                    <h:outputText value="#{bundle.KontaktPersonerLabel_epost}"/>
                    <h:outputText value="#{kontaktPersonerController.selected.epost}" title="#{bundle.ViewKontaktPersonerTitle_epost}"/>
                    <h:outputText value="#{bundle.KontaktPersonerLabel_firmaid}"/>
                    <h:outputText value="#{kontaktPersonerController.selected.firmaid}" title="#{bundle.ViewKontaktPersonerTitle_firmaid}"/>
                    <h:outputText value="#{bundle.KontaktPersonerLabel_adresse}"/>
                    <h:outputText value="#{kontaktPersonerController.selected.adresse}" title="#{bundle.ViewKontaktPersonerTitle_adresse}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{kontaktPersonerController.destroyAndView}" value="#{bundle.KontaktPersonerDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.KontaktPersonerEditLink}"/>
                <br />
                <h:commandLink action="#{kontaktPersonerController.prepareCreate}" value="#{bundle.KontaktPersonerCreateLink}" />
                <br />
                <h:commandLink action="#{kontaktPersonerController.prepareList}" value="#{bundle.KontaktPersonerShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.KontaktPersonerIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
