<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.PageTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <br />
            <h:link outcome="/adresse/List" value="Show All Adresse Items"/>
            <br />
            <h:link outcome="/beslagslister/List" value="Show All Beslagslister Items"/>
            <br />
            <h:link outcome="/brukere/List" value="Show All Brukere Items"/>
            <br />
            <h:link outcome="/doerer/List" value="Show All Doerer Items"/>
            <br />
            <h:link outcome="/firma/List" value="Show All Firma Items"/>
            <br />
            <h:link outcome="/kategorier/List" value="Show All Kategorier Items"/>
            <br />
            <h:link outcome="/kontaktPersoner/List" value="Show All KontaktPersoner Items"/>
            <br />
            <h:link outcome="/prosjektKategorier/List" value="Show All ProsjektKategorier Items"/>
            <br />
            <h:link outcome="/prosjekter/List" value="Show All Prosjekter Items"/>
            <br />
            <h:link outcome="/tegninger/List" value="Show All Tegninger Items"/>
        </ui:define>
    </ui:composition>
</html>

