<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet name="css/standardWeb.css"/>
    </h:head>

    <h:body>
        <h:panelGroup id="wrapper" styleClass="wrapper">
            <!-- Header -->
            <header>
                <h:panelGroup id="header">
                    <h1>
                        <ui:insert name="title">Lock n' Load</ui:insert>
                    </h1>
                </h:panelGroup>
                <p:growl id="messagesGrowl" /> 
            </header>
            <!-- Header slutt -->
            <!-- Navigasjon -->
            <nav id="navigation">
                <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

                <p:dialog widgetVar="statusDialog" header="Arbeider"  
                          draggable="false" closable="false" width="250" resizable="false" styleClass="loadingbar">  
                    <p:graphicImage value="/resources/images/ajax-loader.gif" styleClass="barPos" />  
                </p:dialog> 

                <ui:include src="hovedmeny/Hovedmeny.xhtml" />
                
            </nav>

            <!-- Navigasjon slutt-->
            <!-- Messages -->
            <h:panelGroup id="messagePanel" layout="block">
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" /> 
            </h:panelGroup>
            <!-- Messages slutt -->
            <!-- Body -->
            <h:panelGroup id="body">
                <p>
                    <ui:insert name="body">Default Body</ui:insert>
                </p>
            </h:panelGroup>
            <h:panelGroup id="push" styleClass="push"></h:panelGroup>
            <!-- Body slutt -->
        </h:panelGroup>
        <!-- Footer -->
        <footer>
            <h:panelGroup id="footer">

            </h:panelGroup> 
        </footer>
        <!-- Footer slutt -->
    </h:body>

</html>
